<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            width: 500px;
            height: 500px;
        }
    </style>
    <title>Document</title>
</head>
<body>
<div class="container">
    <img src="/img/error_image.jpg" alt="테스트에러페이지">
    <ul>
        <li th:text="|timestamp: ${timestamp}|"></li> <!--텍스트+변수 같이 사용하는 thymeleaf literal ||-->
        <li th:text="|path: ${path}|"></li>
        <li th:text="|status: ${status}|"></li>
        <li th:text="|message: ${message}|"></li>
        <li th:text="|error: ${error}|"></li>
        <li th:text="|exception: ${exception}|"></li>
        <li th:text="|errors: ${errors}|"></li>
        <li th:text="|trace: ${trace}|"></li>
    </ul>
</div>

</body>
</html>