<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{template/common/layout/defaultLayout.html}"
      layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/marketBoard/detailPage.css">
    <title>Title</title>
</head>
<body>
<div class="top_margin"></div>
<div class="detail_container">
    <div class="margin"></div>
    <div class="left">
        <div class="main_imgs_wrap">
            <div class="thumb_img_wrap">
                <!-- 썸네일 리스트반복 -->
                <th:block th:if="${not #lists.isEmpty(product.files)}" th:each="p : ${product.files}">
                    <div class="thumb_img"><img th:src="|/adoptBoard/images/${p.getStore_file_name()}|" onmouseover="pick_img(this)"></div>
                </th:block>
            </div>
            <th:block th:if="${not #lists.isEmpty(product.files)}">
                <div class="bic_img_wrap"><img id="bic_img" th:src="|/adoptBoard/images/${product.files[0].getStore_file_name()}|"></div>
            </th:block>
        </div>
        <div class="main_content_wrap">
            <div class="modal_wrap">
                <div class="basket_modal">
                    <div class="modal_head">
                        장바구니 담기
                    </div>
                    <div class="modal_con">
                        <div class="modal_con_head">
                            총 2개
                        </div>
                        <div class="modal_con_body">

                        </div>
                        <div class="modal_con_foot">
                            1번
                        </div>
                    </div>
                    <div class="modal_btns">
                        <button id="direct_buy">바로구매</button><button id="move_basket">장바구니 이동</button><button id="keep_shopping">쇼핑계속 하기</button>
                    </div>
                </div>
            </div>
            <div class="detail_content" th:text="${product.content}"></div>
        </div>
    </div>
    <div class="right">
        <div class="title_wrap right_div" th:text="${product.title}">타이틀</div>
        <div class="price_wrap right_div" th:text="|${product.price}원|">제품 금액</div>
        <div class="del_price_wrap right_div">
            <div class="r_head">배송비</div><div class="r_con"></div>
        </div>
        <div class="option_wrap right_div">
            <div class="r_head">옵션</div>
            <div class="r_con">
                <select id="op_select">
                    <option>-[필수]옵션을 선택해주세요-</option>
                    <option disabled>------------------------</option>
                    <option value="large">large</option>
                    <option value="medium">medium</option>
                    <option value="small">small</option>
                </select>
            </div>
        </div>
        <div class="t_stat_wrap right_div">
        </div>
        <div class="t_price_wrap right_div">
            <!--총금액-->
        </div>
        <div class="button_wrap">
            <button id="buy_btn">구매하기</button>
            <button id="cart_btn"><img src="/img/icon/bin_cart.png" class="cart_img"></button>
            <button id="like_btn"><img src="/img/icon/heart_before.png" class="like_img"></button>
        </div>
    </div>
    <div class="margin"></div>
</div>
<script th:inline="javascript">
    let img_src='';
    const title = [[${product.title}]];
    let price = [[${product.price}]];
    const bic_img = document.getElementById('bic_img');
    const op_select = document.getElementById('op_select').addEventListener('change', add_prod);
    const modal = document.querySelector('.modal_wrap');
    const close_btn = document.querySelector('#keep_shopping');
    let size_arr=[];
    function add_prod(op){
        alert(title+op.target.value);

        //리스트를 만들어서 추가
        //서버에 보낼때 querystring으로 제품번호 보내기
        //상품은 body에
        const quantity_input = document.createElement('input');
        quantity_input.type = 'number';
        quantity_input.min = 1;
        quantity_input.value = 1;
        quantity_input.classList.add('quantity_input')

        const t_stat_wrap = document.querySelector('.t_stat_wrap');

        const s_div = document.createElement('div');
        s_div.classList.add('s_div');
        s_div.innerHTML=`${title} - ${op.target.value}`;
        s_div.appendChild(quantity_input);
        t_stat_wrap.appendChild(s_div);

    }
    function pick_img(target){
        img_src = target.getAttribute('src');
        bic_img.setAttribute('src', img_src);
    }

    function add_basket(){
        modal.style.display= 'block';
        const body = document.querySelector('.modal_con_body');
        const item_box = document.createElement('div');
        const box = document.createElement('div');


    }
    function pay_status(){
        window.location.href="/market/orderForm";
    }

    document.getElementById('cart_btn').addEventListener('click', add_basket);
    close_btn.addEventListener('click', () => {
        modal.style.display='none';
    })

    document.getElementById('buy_btn').addEventListener('click', pay_status);
</script>
</body>
</html>