<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/marketBoard/index.css">
    <title>Title</title>
</head>
<body>
<div class="subNav">
  <ul><li> <a href="#">모금중</a> <a href="#">모금후기</a> <a href="#">나눔캠페인</a> </li></ul>
</div>
<div class="cate_Icon">

</div>

<div class="group_fundList">
	<span class="sortCate">
		<span><a href="#">●추천순</a></span>
		<span><a href="#">●최신순</a></span>
		<span><a href="#">●종료임박순</a></span>
	</span>
  <ul class="fundList">
    <li class="listCard"> <span class="thumb_box"></span>
      <span class="box_together"> <strong>손수레 선물로 저소득가정 물품지원에 바퀴를 달아주세요!</strong>
		<span class="organ">수원시복지협회</span>
		<span class="wrap_state"></span>
		<span class="price_goal"></span>
		</span> </li>
  </ul>
  <ul class="fundList">
    <li class="listCard"> <span class="thumb_box"></span>
      <span class="box_together"> <strong>손수레 선물로 저소득가정 물품지원에 바퀴를 달아주세요!</strong>
		<span class="organ">수원시복지협회</span>
		<span class="wrap_state"></span>
		<span class="price_goal"></span>
		</span> </li>
  </ul>
  <ul class="fundList">
    <li class="listCard"> <span class="thumb_box"></span>
      <span class="box_together"> <strong>손수레 선물로 저소득가정 물품지원에 바퀴를 달아주세요!</strong>
		<span class="organ">수원시복지협회</span>
		<span class="wrap_state"></span>
		<span class="price_goal"></span>
		</span> </li>
  </ul>
  <ul class="fundList">
    <li class="listCard"> <span class="thumb_box"></span>
      <span class="box_together"> <strong>손수레 선물로 저소득가정 물품지원에 바퀴를 달아주세요!</strong>
		<span class="organ">수원시복지협회</span>
		<span class="wrap_state"></span>
		<span class="price_goal"></span>
		</span> </li>
  </ul>

  <ul class="fundList">
    <li class="listCard"> <span class="thumb_box"></span>
      <span class="box_together"> <strong>손수레 선물로 저소득가정 물품지원에 바퀴를 달아주세요!</strong>
		<span class="organ">수원시복지협회</span>
		<span class="wrap_state"></span>
		<span class="price_goal"></span>
		</span> </li>
  </ul>
  <ul class="fundList">
    <li class="listCard"> <span class="thumb_box"></span>
      <span class="box_together"> <strong>손수레 선물로 저소득가정 물품지원에 바퀴를 달아주세요!</strong>
		<span class="organ">수원시복지협회</span>
		<span class="wrap_state"></span>
		<span class="price_goal"></span>
		</span> </li>
  </ul>
  <ul class="fundList">
    <li class="listCard"> <span class="thumb_box"></span>
      <span class="box_together"> <strong>손수레 선물로 저소득가정 물품지원에 바퀴를 달아주세요!</strong>
		<span class="organ">수원시복지협회</span>
		<span class="wrap_state"></span>
		<span class="price_goal"></span>
		</span> </li>
  </ul>
  <ul class="fundList">
    <li class="listCard"> <span class="thumb_box"></span>
      <span class="box_together"> <strong>손수레 선물로 저소득가정 물품지원에 바퀴를 달아주세요!</strong>
		<span class="organ">수원시복지협회</span>
		<span class="wrap_state"></span>
		<span class="price_goal"></span>
		</span> </li>
  </ul>
</div>

</body>
</html>