<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template/common/layout/defaultLayout.html}"
      layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/marketBoard/index.css">
    <title>Title</title>
</head>
<body>
<div class="top">
    <div id="banner_box"></div>
</div>
<div id="menu_box">
    <ul id="menu_ul">
        <li><a href="#" id="reg_date">등록일</a></li> <li><a href="#" id="end_date">종료일</a></li> <li><a href="#" id="sale_cnt">판매량</a></li>
    </ul>
</div>
<div class="parent">
<!--	<div class="box display0">-->
<!--        <div class="thumb_img">이미지</div>-->
<!--        <div class="prod_info">-->
<!--            <div class="title_wrap">삼성노트북</div>-->
<!--            <div class="content_wrap">-->
<!--                <p>가격 : 100,000원</p>-->
<!--                <p> </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="add_btn_wrap">
        <img src="/img/icon/add_btn.png" id="add_btn">
    </div>
</div>
<script th:inline="javascript">
    window.addEventListener('DOMContentLoaded', ()=>{
        getMainProdList();
        }
    )
    async function getMainProdList(){
        const resp = await fetch('/market/getMainProdList', {
            headers:{
              'Content-Type': 'application/json',
            },
            method: 'GET',
        })
        if(resp.ok){
            const parent = document.querySelector('.parent');
            const list = await resp.json();
            list.forEach((p)=>{
                let num = 0;
                const box_display = document.createElement('div');
                const thumb_img_div = document.createElement('div');
                const prod_info_div = document.createElement('div');
                const title_wrap = document.createElement('div');
                const content_wrap = document.createElement('div');
                const thumb_img = document.createElement('img');
                const link_img = document.createElement('a');
                const link_title = document.createElement('a');
                box_display.classList.add('box', `display${num}`);
                console.log(box_display);
                thumb_img_div.classList.add('thumb_img');
                prod_info_div.classList.add('prod_info');
                title_wrap.classList.add('title_wrap');
                // content_wrap.classList.add('content_wrap');
                thumb_img.src=`/adoptBoard/images/${p.store_file_name}`;
                prod_info_div.appendChild(title_wrap);
                // prod_info_div.appendChild(content_wrap);
                title_wrap.innerText=p.title;


                link_title.href=`/market/detailPage/${p.product_id}`;
                link_title.appendChild(title_wrap);



                // content_wrap.innerText= p.thumbnail_content;
                box_display.appendChild(thumb_img_div);
                box_display.appendChild(prod_info_div);
                link_img.href=`/market/detailPage/${p.product_id}`;
                link_img.appendChild(thumb_img)
                thumb_img_div.appendChild(link_img);
                prod_info_div.appendChild(link_title);
                // prod_info_div.appendChild(content_wrap);
                parent.appendChild(box_display);

            })
        }
    }


document.getElementById('add_btn').addEventListener('click', ()=>{
    const width='1000';
    const height='800';
    window.open('/market/regProduct', '_blank', `width=${width}, height=${height}, 'right='100'`);
})
</script>
</body>
</html>