<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template/common/layout/defaultLayout.html}"
      layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/marketBoard/index.css">
    <title>Title</title>
</head>
<body>
<div class="top">
    <div id="banner_box">배너</div>
</div>
<div id="menu_box">
    <ul id="menu_ul">
        <li><a href="#">등록일</a></li> <li><a href="#">종료일</a></li> <li><a href="#">판매량</a></li>
    </ul>
</div>
<div class="parent">
	<div class="box display0">
        <div class="matter_img">이미지</div>
        <div class="matter_content">
            <div class="title_wrap">삼성노트북</div>
            <div class="matter_info">
                <p>가격 : 100,000원</p>
                <p>dasdfasdfsafdsfadfasfdasfasfasfasdfasdf </p>
            </div>
        </div>
    </div>
    <div class="box display1">
        <div class="matter_img">이미지</div>
        <div class="matter_content">
            <div class="title_wrap">제품명</div>
            <div class="matter_info">
                dasdfasdfsafdsfadfasfdasfasfasfasdfasdf
            </div>
        </div>
    </div>
    <div class="box display2">
        <div class="matter_img">이미지</div>
        <div class="matter_content">
            <div class="title_wrap">제품명</div>
            <div class="matter_info">
                dasdfasdfsafdsfadfasfdasfasfasfasdfasdf
            </div>
        </div>
    </div>
    <div class="box display3">
        <div class="matter_img">이미지</div>
        <div class="matter_content">
            <div class="title_wrap">제품명</div>
            <div class="matter_info">
                제품정보
            </div>
        </div>
    </div>
<!--    <div class="box main">main</div>-->
    <div class="add_btn_wrap">
        <img src="/img/icon/add_btn.png" id="add_btn">
    </div>
</div>
<script th:inline="javascript">
document.getElementById('add_btn').addEventListener('click', ()=>{
    const width='1000';
    const height='800';
    window.open('/market/regProduct', '_blank', `width=${width}, height=${height}, 'right='100'`);
})
</script>
</body>
</html>