@charset "UTF-8";
*{ margin: 0 auto; padding: 0; box-sizing: border-box;}

#container{
    width: 1200px;
}
th, td{
    font-family: 'Noto Sans KR', sans-serif;
}
.container-fluid{
    position: relative;
}
.bookmark_box{
    width:30px; height:30px; position: absolute; top: 50px; right: 150px;
}

#option_icon_wrap{
    position: absolute; top: 50px; right: 90px;
    cursor: pointer;
}
#overlay{
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 666;
    background: rgba(0,0,0,0.5);
}

#option_container{
    position: absolute;
    display: none;
    right: 50px;
    z-index: 999; /*최상단에 위치하도록함*/
}
#option_wrap{
    width: 130px;
    display: flex;
    flex-direction: column;
    background-color: white;

}
.option_bar{
    border: 1px solid black;
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: white;
}
a{
    cursor:pointer;
}
#deleteBtn:hover{
    text-decoration:underline;
}
.reply_head{
    text-align:center;
}
#head_content{
    width: 300px;
}
#head_writer{
    width: 100px;
}
#reply_id{
    text-align:center;
}
#reply_content{
    padding-left: 19px;
}
#good_before{
    width: 32px;
}
#bad_before{
    width: 35px;
}
#good_after{
    width: 23px;
}
#bad_after{
    width: 23px;
}
#reply_table {
    margin-top: 5px;
    margin-bottom: 5px;
}
.evalu_count{
    display: inline;
}