@charset "UTF-8";
*{ margin: 0 auto; padding: 0; box-sizing: border-box;}

.container{
    width: 80%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
}

.bookmark_wrap{
    width:30px; height:30px; position: absolute; top: 50px; right: 150px;
}

#option_icon_wrap{
    position: absolute; top: 50px; right: 90px;
    cursor: pointer;
}
#option_icon_wrap img{
    vertical-align: bottom;
}
#overlay{
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 666;
    background: rgba(0,0,0,0.5);
}

#option_box{
    position: absolute;
    /*display: none;*/
    /*z-index: 999; !*최상단에 위치하도록함*!*/
    right: 305px;
    top: 223px;
}


#option_wrap{
    /*width: 130px;*/
    display: flex;
    flex-direction: column;
    background-color: white;
    /*display: none;*/
}
a{
    cursor:pointer;
}
#deleteBtn:hover{
    text-decoration:underline;
}
.reply_head{
    text-align:center;
}
#head_content{
    width: 300px;
}
#head_writer{
    width: 100px;
}
#head_del{
    width: 50px;
}
#reply_id{
    text-align:center;
}
/*#good_before{*/
/*    width: 32px;*/
/*}*/
/*#bad_before{*/
/*    width: 35px;*/
/*}*/
/*#good_after{*/
/*    width: 23px;*/
/*}*/
/*#bad_after{*/
/*    width: 23px;*/
/*}*/
#reply_table {
    margin-top: 5px;
    margin-bottom: 5px;
    border-collapse: collapse;
    /*width: 80%;*/
}
#reply_table td{
    border-bottom: 1px solid darkgrey;
}
.del_td{
    text-align: center;
}

/*.option_bar{*/
/*    !*border: 1px solid black;*!*/
/*    width: 100%;*/
/*    height: 30px;*/
/*    text-align: center;*/
/*    !*background-color: white;*!*/
/*}*/
.option_button{
    width: 128px;
    height: 31px;
    /*border: 1px solid white;*/
    font-size: 17px;
    border-radius: 8px;
    z-index: 990;
    display: none;
    position: relative;
}
.option_button:hover{
    font-weight: bold;
}
#post_box{
}
.post_table{
}
#writer_info{
    /*width: 100%;*/
    height: 60px;
    padding: 12px;
}
#bd_title_tr{
    height: 60px;
    fong-left: 12px;
}
#bd_title{
    font-size: 23px;
    border-bottom: 1px solid gray;
}


/*#bd_con{*/
/*    padding-top: 20px;*/
/*    padding-left: 12px;*/
/*    padding-bottom: 20px;*/
/*}*/
#img_box{
display:flex;
    justify-content: center;
    flex-direction: row;
    align-items:center;
}
#img_box img{
    border-radius:15px;
}
.board_title{
    margin-top: 50px;
    margin-bottom: 20px;
}
#img_info_box{
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
}
#replyForm{
    margin-bottom: 50px;
}
.reply_writer{
    text-align: center;
}
.reply_con{
    /*width: 420px;*/
    word-wrap: break-word;
    padding-left: 3px;
}