@charset "UTF-8";
*{ margin: 0 auto; padding: 0; box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img{
    margin-top: 50px;
    margin-bottom: 50px;
}
.img img{
    width: 400px;
    height: 300px;
    border-radius: 20px;

}
#contentTable{
    width: 936px;
    font-size: 18px;
}
#contentTable td{
    height: 40px;
}

#replyList{
    width: 800px;
    margin-top: 70px;
    font-size: 20px;
}

#replyInput{
    width: 800px;
}
#good_before{
    width: 27px;
}
#bad_before{
    width: 30px;
}
#good_after{
    width: 18px;
}
#bad_after{
    width: 20px;
}

.evalu_count{
    display: inline;
}
#headline{
    margin-bottom : 3px;
    height: 40px;
}
.form-group{
    font-size: 18px;
    height: 200px;
    margin-top: 15px;
}
.form-label{
    font-size: 18px;
    margin-right: 15px;
}
.form-group input{
    height: 40px;
}
#reply{
    width: 550px;
    padding-left: 10px;
    border: 1px solid #D3D5DF;
    border-radius: 10px;
}
#replyForm{
    margin-top: 66px;
}
#reply_btn{
    width: 98px;
    height: 40px;
    font-size: 19px;
    border: none;
    border-radius: 10px;
}