*{
    margin: 0 auto; padding: 0; box-sizing: border-box;
}
body{
    height: 100vh;
}
.box{
    display: flex;
    justify-content: center;  /* 가로방향으로 가운데로 정렬 */
    align-items: center; /* 세로축(방향)에서 가운데로정렬 */
    text-align: center;
    background-color:#C7EFF6;
    overflow: hidden;
}
li{ list-style: none; }
.parent{
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-areas:
				". animal0 info ."
				". animal1 rList0 ."
                ". animal2 rList1 ."
                ". animal3 rList2 .";
    grid-template-rows: 1fr 1fr 1fr 1fr; /*수직 행*/
    grid-template-columns: 200px 600px 400px 200px; /*수평 열*/
    gap: 10px;
}
.info{
    grid-area: info;
}
.animal0{
    grid-area: animal0;
}
.animal1{
    grid-area: animal1;
}
.animal2{
    grid-area: animal2;
}
.animal3{
    grid-area: animal3;
}
.rList0{
    grid-area: rList0;
}
.rList1{
    grid-area: rList1;
}
.rList2{
    grid-area: rList2;
}
.side_wrap{
    display: flex;
    flex-direction: row;
}
.animal_pic{
    width: 30%;
}
.animal_pic img{
    width: 90%;
}
.animal_con{
    width: 70%;
}
.animal_con .title_div, .content_div{
    width: 90%;
}
.side{ padding-left: 3px;
}
.side_img_wrap{
    width: 30%;
}

.animal_con{
    display: flex;
    flex-direction: column;
}
.box animal0{
    display: flex;
    flex-direction: row;
}
.box animal1{
    display: flex;
    flex-direction: row;
}
.box animal2{
    display: flex;
    flex-direction: row;
}
.box animal3{
    display: flex;
    flex-direction: row;
}
.title_div{
    height: 20%;
}
#main_con0{
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.title_div, .content_div{
    padding: 2px;
}
.content_div{
    overflow: hidden;
}
.side_wrap{
    display: flex;
    flex-direction: row;
}
.side_img_wrap{
    width: 30%;
}
.side_img_wrap img{
    width: 90%;
}
.side_con_wrap{
    width: 65%;
    text-align: left;
}
