*{
    margin: 0 auto; padding: 0; box-sizing: border-box;
}
body{
    height: 100vh;
}
.box{
    display: flex;
    justify-content: center;  /* 가로방향으로 가운데로 정렬 */
    align-items: center; /* 세로축(방향)에서 가운데로정렬 */
    text-align: center;
    /*background-color:#C7EFF6;*/
    overflow: hidden;
}
li{ list-style: none; }
.container{
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-areas:
				". left right .";
    grid-template-columns: 200px 600px 400px 200px; /*수평*/
    gap: 10px;
}
.left{
    grid-area: left;
}
.right{
    grid-area: right;
}

.imminent_wrap{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.imm_head{
    width: 30%;
}
.imm_con{
    width: 70%;
}
.imm_img{
    width: 100%;
    border-radius: 10px;
}