@charset "UTF-8";
*{margin: 0 auto; padding: 0; box-sizing: border-box;}

.top_section{
    height: 100px;
    background-color: #e3e3e3;
}
.form_section{}

.join_box{
    margin-top: 30px;
    width: 650px;
    height: 1000px;
    border: 1px solid  #e3e3e3;
    padding: 82px 69px;
    border-radius: 20px;
}
li{
    list-style-type: none;
    height: 80px;
}
#email_li{
    height: 90px;
}
.head{
    display: inline-block;
    width: 100px;
}
.title{
    height: 60px;
}

input{
    width: 172px;
    height: 35px;
    outline: 0.3px solid gray;
}
#email_address{
    width: 140px;
}
#email_auth_btn{
    width: 60px;
    height: 30px;
    margin-left: 2px;
    margin-top: 2px;
}
select{
    height: 35px;
}
#email_option{
    margin-left: 123px; margin-top: 8px;
}
#auth_number{
    width: 140px;
}
#login_id{
    width: 200px;
}
.join{
    width: 435px;
    margin-top: 25px;
}

.submit{
    margin-top: 10px;
    width: 402px;
}
#postcode, #search_addr{
    width: 130px;
    height: 40px;
}
#duplicationCheck{
    width: 90px;
    height: 35px;
}
#address{
    width: 450px;
}
#detail_address{
    width: 280px;
}
#extra_address{
    width: 155px;
}
.exception{
    visibility: hidden;
    color: red;
}