@charset "UTF-8";
*{margin: 0 auto; padding: 0; box-sizing: border-box;}

.top_section{
    height: 100px;
    background-color: #e3e3e3;
}
.form_section{}

.join_box{
    margin-top: 30px;
    width: 600px;
    height: 1000px;
    border: 1px solid  #e3e3e3;
    padding: 82px 69px;
    border-radius: 20px;
}
li{
    list-style-type: none;
    height: 75px;
}
.head{
    display: inline-block;
    width: 130px;
}
.title{
    height: 60px;
}

input{
    width: 300px;
    height: 47px;
    outline: 0.3px solid gray;
}
#loginId{
    width: 200px;
}
.join{
    width: 435px;
    margin-top: 25px;
}

.submit{
    margin-top: 10px;
    width: 402px;
}
#postcode, #search_addr{
    width: 130px;
    height: 40px;
}
#duplicationCheck{
    width: 120px;
    height: 40px;
}
#address{
    width: 450px;
}
#detailAddress{
    width: 280px;
}
#extraAddress{
    width: 155px;
}
