@charset "UTF-8";
*{
    margin: 0 auto; padding: 0; box-sizing: border-box;
}
a{
    text-decoration: none; color: black;
    float: left;
}
li{
    list-style-type: none;
    float: left;
}
.logo_bar{
    height: 70px;
}
.top_section{
    height: 110px;
    background-color: rgb(247, 247, 247);
}
.wrap_form{
    /*padding: 59px, 69px, 49px, 69px;*/
}

.login_box{
    margin-top: 80px;
    margin-bottom: 60px;
    width: 480px;
    height: 556px;
    border: 1px solid grey;
    padding: 60px 70px;
}
.user_box{
    margin-bottom:30px;
}
.join_a{
    padding-left: 260px;
}

input{
    width: 338px;
    height: 47px;
}
.submit{
    margin-top: 10px;
    width: 338px;
}