<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="header"> <!--사용할 헤더 정의-->
<header>
  <nav>
      <div class="logo_nav">
        <a href="/base/">
          <i class="fa-solid fa-shield-dog"></i>
          SaveAnimals
        </a>
      </div>
      <div>
            <ul class="menu_nav">
              <li><a href="#" th:text="#{nav.introduce}">소개</a></li>
              <li><a th:href="@{/animalBoard/animalBoardList}" th:text="#{nav.animalList}">유기동물명단</a></li>
              <li><a th:href="@{/adoptBoard/adoptBoardList}" th:text="#{nav.freeBoard}">자유게시판</a></li>
              <li><a th:href="@{/marketBoard/index}">물물거래</a></li>
              <li th:if="${session.grade=='2'}"><a th:href="@{/admin/index}" th:text="#{nav.adminPage}">관리자페이지</a></li>
            </ul>
      </div>
      <div th:if="${session.login_id!=null}">
        <ul class="login_bar">
          <li class="login"><a href="#;" id="logoutBtn">로그아웃</a></li>
        </ul>
      </div>
      <div th:unless="${session.login_id!=null}">
        <ul class="login_bar">
          <li class="login"><a href="/base/login">로그인</a></li>
        </ul>
      </div>
  </nav>
</header>
</div>
</body>
</html>