*{
    box-sizing: border-box; margin: 0; padding: 0;
}
a{
    text-decoration: none;
    list-style: none;
}
.side_wrap{
    width: 15vw;
    display:flex;
    /*justify-content: center;*/
    flex-direction: column;
    margin-top: 150px;
}
#logo_box{
    display: flex;
    flex-direction: row;
    width: 15vw;
    min-width: 150px;
    /*height: 150px;*/
}
#logo{
    width: 70%;
}
#logo_right{
    width: 30%;
}
#side_box{
    width: 15vw;
    min-width: 150px;
    display:flex;
    flex-direction: row;
    /*border: 1px solid black;*/
    /*min-width: 15px;*/
}
.side_bar{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 15vw;
    min-width: 150px;
    cursor:pointer;
    transition: background-color 0.3s;
    height: 47px;
}
.side_bar:hover{
    background-color: #deccba;
}



.side_a{
    font-size: 1.5em;
}

