<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//my
batis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refactor.animals.repository.mybatis.AdoptReplyBoardMapper">

    <insert id="insertReply" parameterType="AdoptReplyBoardVO" useGeneratedKeys="true" keyProperty="reply_id" >
        insert adopt_reply_board(adt_id, upper_id, login_id, content) values
        (#{adt_id}, #{upper_id}, #{login_id}, #{content})
    </insert>

    <select id="getReplyList" parameterType="ReplyParam" resultType="AdoptReplyBoardVO">
        select reply_id, adt_id, upper_id, login_id, content, `good`, bad, regdate, good_count, bad_count, report_count
        from adopt_reply_board
        where adt_id = #{adt_id}
        <trim prefix="ORDER BY">
            <if test="orderby =='recent'">adt_id desc</if>
            <if test="orderby =='latest'">adt_id asc</if>
        </trim>
    </select>

    <select id="checkEvaluation" parameterType="ReplyParam" resultType="AdoptReplyBoardVO">
        select good, bad, good_count, bad_count, login_id, upper_id, report_count from adopt_reply_board
        where reply_id = #{reply_id}
    </select>

    <update id="goodEvaluation" parameterType="ReplyParam">
        update adopt_reply_board set good = #{good}, good_count = #{good_count} where reply_id = #{reply_id}
    </update>

    <update id="badEvaluation" parameterType="ReplyParam">
        update adopt_reply_board set bad = #{bad}, bad_count = #{bad_count} where reply_id = #{reply_id}
    </update>

    <delete id="deleteReply" parameterType="ReplyParam">
        delete from adopt_reply_board where reply_id = #{reply_id}
    </delete>



</mapper>