<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//my
batis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refactor.animals.repository.mybatis.AdoptReplyBoardMapper">

    <insert id="insertReply" parameterType="AdoptReplyBoardVO" useGeneratedKeys="true" keyProperty="reply_id" >
        insert adopt_reply_board(adt_id, upper_id, login_id, content) values
        (#{adt_id}, #{upper_id}, #{login_id}, #{content})
    </insert>

    <select id="getReplyList" parameterType="ReplyParam" resultMap="adoptReplyBoard">
        select
        reply_id, adt_id, upper_id, login_id, content, good_count, bad_count,
        report_status, regdate, best_reply
        from adopt_reply_board
        where adt_id = #{adt_id}
        <trim prefix="ORDER BY">
            <if test="orderby =='recent'">adt_id desc</if>
            <if test="orderby =='latest'">adt_id asc</if>
        </trim>
    </select>

    <update id="addGoodCount" parameterType="int">
        update adopt_reply_board set
        good_count = good_count+1 where reply_id = #{reply_id};
    </update>

    <update id="addBadCount" parameterType="int">
        update adopt_reply_board set
        bad_count = bad_count+1 where reply_id = #{reply_id};
    </update>

    <update id="undoGoodCount" parameterType="int">
        update adopt_reply_board set
        good_count = good_count-1 where reply_id = #{reply_id}
    </update>

    <update id="undoBadCount" parameterType="int">
        update adopt_reply_board set
        bad_count = bad_count-1 where reply_id = #{reply_id}
    </update>

<!--    <resultMap id="adoptReplyBoard" type="AdoptReplyBoardVO">-->
<!--        <id property="reply_id" column="reply_id"/>-->
<!--        <result property="adt_id" column="adt_id"/>-->
<!--        <result property="table_name" column="table_name"/>-->
<!--        <result property="upper_id" column="upper_id"/>-->
<!--        <result property="login_id" column="login_id"/>-->
<!--        <result property="content" column="content"/>-->
<!--        <result property="regdate" column="regdate"/>-->
<!--        <association property="replyAddInfo" javaType="com.refactor.animals.beans.entity.ReplyAddInfo">-->
<!--            <id property="his_id" column="his_id"/>-->
<!--            <result property="reply_id" column="his_id"/>-->
<!--            <result property="table_name" column="table_name"/>-->
<!--            <result property="good" column="good"/>-->
<!--            <result property="bad" column="bad"/>-->
<!--            <result property="report" column="report"/>-->
<!--        </association>-->
<!--    </resultMap>-->

    <resultMap id="adoptReplyBoard" type="AdoptReplyBoardVO">
        <id property="reply_id" column="reply_id"/>
        <result property="adt_id" column="adt_id"/>
        <result property="upper_id" column="upper_id"/>
        <result property="login_id" column="login_id"/>
        <result property="content" column="content"/>
        <result property="good_count" column="good_count"/>
        <result property="bad_count" column="bad_count"/>
        <result property="best_reply" column="best_reply"/>
        <result property="regdate" column="regdate"/>
        <collection property="replyAddInfo" resultMap="replyAddInfo"/>
    </resultMap>

    <resultMap id="replyAddInfo" type="ReplyAddInfo">
        <id property="info_id" column="info_id"/>
        <result property="reply_id" column="reply_id"/>
        <result property="login_id" column="login_id"/>
        <result property="table_name" column="table_name"/>
        <result property="good_status" column="good_status"/>
        <result property="bad_status" column="bad_status"/>
        <result property="report" column="report"/>
        <result property="regdate" column="regdate"/>
    </resultMap>

    <select id="checkEvaluation" parameterType="ReplyParam" resultType="AdoptReplyBoardVO">
        select good, bad, good_count, bad_count, login_id, upper_id, report_count from adopt_reply_board
        where reply_id = #{reply_id}
    </select>

    <delete id="deleteReply" parameterType="ReplyParam">
        delete from adopt_reply_board where reply_id = #{reply_id}
    </delete>







</mapper>