<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refactor.animals.repository.mybatis.AdoptBoardMapper">

    <insert id="insertBoard" parameterType="AdoptBoardVO" useGeneratedKeys="true" keyProperty="adt_id">
        insert into adopt_board(login_id, title, content) values
        (#{login_id}, #{title}, #{content})
    </insert>
    <select id="boardList" resultType="AdoptBoardVO" parameterType="SearchDto">
        SELECT adt_id, title, content, login_id, regdate, cnt FROM ADOPT_BOARD
        <where>
            <if test="searchType=='TITLE'">
                and title like concat('%', #{keyword}, '%')
            </if>
            <if test="searchType=='CONTENT'">
                and content like concat('%',#{keyword},'%')
            </if>
            <if test="searchType=='WRITER'">
                and login_id like concat('%',#{keyword},'%')
            </if>
        </where>
        ORDER BY ADT_ID DESC
        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>

    <select id="getBoard" resultType="AdoptBoardVO" parameterType="AdoptBoardVO">
        SELECT title, content, login_id, regdate, adt_id, cnt, bookmark
        FROM ADOPT_BOARD
        WHERE adt_id = #{adt_id}
    </select>

    <select id="boardCount" resultType="int" parameterType="SearchDto">
        select count(*) from adopt_board
        <where>
            <if test="searchType =='TITLE'">
                and title like concat('%', #{keyword} '%')
            </if>
            <if test="searchType =='CONTENT'">
                and content like concat('%', #{keyword} '%')
            </if>
            <if test="searchType =='WRITER'">
                and login_id like concat('%', #{keyword} '%')
            </if>
        </where>
    </select>

    <update id="cntUpdate" parameterType="AdoptBoardVO">
        update adopt_board set cnt = #{cnt} where adt_id = #{adt_id}
    </update>

    <select id="bookmarkCount" resultType="int">
        select count(*) as count from adopt_board where bookmark = true
    </select>

    <update id="bookmark" parameterType="AdoptBoardVO">
        update adopt_board set bookmark = #{bookmark} where adt_id = #{adt_id}
    </update>

    <select id="bookmarkList" parameterType="AdoptBoardVO" resultType="AdoptBoardBookMarkVO">
        select adt_id, title, content, login_id
        from adopt_board
        where bookmark = true
    </select>

    <delete id="deleteBoard" parameterType="int">
        delete from adopt_board where adt_id = #{adt_id}
    </delete>

    <update id="updateBoard" parameterType="AdoptBoardVO">
        update adopt_board set title = #{title}, content = #{content} where adt_id = #{adt_id}
    </update>

    <resultMap id="upload_file" type="UploadFileVO">
        <id property="store_id" column="store_id"/>
        <result property="store_file_name" column="store_file_name"/>
    </resultMap>
    <resultMap id="adopt_board" type="AdoptBoardVO">
        <id property="adt_id" column="adt_id"/>
        <result property="login_id" column="login_id"/>
        <result property="regdate" column="regdate"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="cnt" column="cnt"/>
        <result property="bookmark" column="bookmark"/>
        <result property="count" column="count"/>
    </resultMap>
</mapper>