<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refactor.animals.repository.mybatis.AdoptBoardMapper">

    <insert id="insertBoard" parameterType="AdoptBoardVO" useGeneratedKeys="true" keyProperty="adt_id">
        insert into adopt_board(login_id, title, content) values
        (#{login_id}, #{title}, #{content})
    </insert>
    <select id="boardList" resultType="AdoptBoardVO" parameterType="SearchDto">
        SELECT adt_id, title, content, login_id, regdate, cnt FROM ADOPT_BOARD
        <where>
            <if test="searchType=='TITLE'">
                and title like concat('%', #{keyword}, '%')
            </if>
            <if test="searchType=='CONTENT'">
                and content like concat('%',#{keyword},'%')
            </if>
            <if test="searchType=='WRITER'">
                and login_id like concat('%',#{keyword},'%')
            </if>
        </where>
        ORDER BY ADT_ID DESC
        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>

    <select id="getBoard" resultType="AdoptBoardVO" parameterType="AdoptBoardVO">
        SELECT title, content, login_id, regdate, adt_id, cnt, bookmark
        FROM ADOPT_BOARD
        WHERE adt_id = #{adt_id}
    </select>

    <select id="boardCount" resultType="int" parameterType="SearchDto">
        select count(*) from adopt_board
        <where>
            <if test="searchType =='TITLE'">
                and title like concat('%', #{keyword} '%')
            </if>
            <if test="searchType =='CONTENT'">
                and content like concat('%', #{keyword} '%')
            </if>
            <if test="searchType =='WRITER'">
                and login_id like concat('%', #{keyword} '%')
            </if>
        </where>
    </select>

    <update id="cntUpdate" parameterType="AdoptBoardVO">
        update adopt_board set cnt = #{cnt} where adt_id = #{adt_id}
    </update>

    <select id="bookmarkCount" resultType="int">
        select count(*) as count from adopt_board where bookmark = true
    </select>

    <update id="bookmark" parameterType="AdoptBoardVO">
        update adopt_board set bookmark = #{bookmark} where adt_id = #{adt_id}
    </update>

    <resultMap id="adoptBoardVO" type="AdoptBoardVO">
        <result column="title" property="title" />
        <result column="login_id" property="login_id"/>
        <result column="content" property="content"/>
        <result column="adt_id" property="adt_id"/>
    </resultMap>
    <resultMap id="uploadFileVO" type="UploadFileVO">
        <result column="store_id" property="store_id"/>
        <result column="adt_id" property="adt_id"/>
        <result column="store_file_name" property="store_file_name"/>
        <result column="upload_file_name" property="upload_file_name"/>
        <result column="bookmark" property="bookmark"/>
    </resultMap>
    <resultMap id="BookMarkList" type="BookmarkList">
        <association property="adopt_board" resultMap="adoptBoardVO"/>
        <association property="file_store" resultMap="uploadFileVO"/>
    </resultMap>

    <select id="bookmarkList" resultType="BookmarkList">
        select b.title, b.content, b.login_id, f.store_id, f.store_file_name, b.bookmark
        from adopt_board b
        left join file_store f
        on b.adt_id = f.adt_id
        where b.bookmark = true
    </select>


</mapper>