<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refactor.animals.repository.mybatis.AdoptBoardMapper">

    <insert id="insertBoard" parameterType="AdoptBoardVO">
        insert into adopt_board values(
            login_id = #{login_id}, title = #{title}, content = #{content}
        )
    </insert>
    <select id="boardList" resultType="AdoptBoardVO" parameterType="SearchDto">
        SELECT adt_id, title, content, login_id, regdate FROM ADOPT_BOARD
        ORDER BY ADT_ID DESC
        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>

    <select id="getBoard" parameterType="AdoptBoardVO">
        SELECT title, content, login_id, regdate, adt_id
        FROM ADOPT_BOARD
        WEHRE login_id = #{login_id}
    </select>

    <select id="selectBoard" parameterType="SearchDto" resultType="AdoptBoardVO">
        SELECT TITLE, CONTENT, LOGIN_ID, REGDATE, ADT_ID, cnt, flag
        from adopt_board
        <where>
            <if test='searchType=="제목"'>
                and title = #{title}
            </if>
            <if test='searchType=="내용'>
                and content = #{content}
            </if>
        </where>
        order by adt_id desc
    </select>

    <select id="count" resultType="int" parameterType="SearchDto">
        select count(*) from adopt_board
        <where>
            <if test="searchType =='제목'">
                and title like concat('%', #{title} '%')
            </if>
            <if test="searchType =='내용'">
                and content like concat('%', #{content} '%')
            </if>
        </where>
    </select>

</mapper>