<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refactor.animals.repository.mybatis.AnimalReplyBoardMapper">

    <select id="animalList" resultType="AnimalReplyBoardVO" parameterType="AnimalReplyBoardVO">
        with recursive cts as (
        select ani_reply_key
        ,content
        ,super_key
        ,depth
        ,cast(ani_reply_key as char(100)) lvl
        from animal_reply_board
        where super_key is null
        union all
        select b.ani_reply_key
        ,b.content
        ,b.super_key
        ,b.depth
        ,concat(c.lvl, ",", b.ani_reply_key) lvl
        from animal_reply_board b
        inner join cts c
        on b.super_key = c.ani_reply_key
        where aseq = #{aseq}
        )
        select ani_reply_key
        , case when depth > 0 then concat(repeat("    ", depth), "ㄴ", content)
        else content end as content
        ,super_key
        ,depth
        ,lvl
        from cts
        order by lvl, ani_reply_key;
    </select>
</mapper>