<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refactor.animals.repository.mybatis.MarketMapper">

    <resultMap id="categoryHierarchyMap" type="Category">
        <id column="l_category_id" property="category_id" javaType="int"/>
        <result column="l_code" property="code" javaType="string"/>
        <result column="l_code_name" property="code_name" javaType="string"/>
        <result column="l_up_code" property="up_code" javaType="string"/>
        <collection property="children" ofType="Category">
            <id column="m_category_id" property="category_id" javaType="int"/>
            <result column="m_code" property="code" javaType="string"/>
            <result column="m_code_name" property="code_name" javaType="string"/>
            <result column="m_up_code" property="up_code" javaType="string"/>
            <collection property="children" ofType="Category">
                <id column="s_category_id" property="category_id" javaType="int"/>
                <result column="s_code" property="code" javaType="string"/>
                <result column="s_code_name" property="code_name" javaType="string"/>
                <result column="s_up_code" property="up_code" javaType="string"/>
            </collection>
        </collection>
    </resultMap>

    <resultMap id="productVO" type="ProductVO">
        <id column="product_id" property="product_id" javaType="int"/>
        <result column="title" property="title" javaType="String"/>
        <result column="content" property="content" javaType="String"/>
        <result column="price" property="price" javaType="int"/>
        <result column="stock" property="stock" javaType="int"/>
        <result column="status" property="status" javaType="int"/>
        <result column="thumbnail_content" property="thumbnail_content" javaType="String"/>
        <result column="major_cate" property="major_cate" javaType="int"/>
        <result column="sub_cate" property="sub_cate" javaType="int"/>
        <result column="category_id" property="category_id" javaType="int"/>
    </resultMap>

    <select id="selectCategoryHierarchy" resultMap="categoryHierarchyMap">
        select
        l.category_id l_category_id, l.code l_code, l.code_name l_code_name, l.up_code l_up_code,
        m.category_id m_category_id, m.code m_code, m.code_name m_code_name, m.up_code m_up_code
<!--        s.category_id s_category_id, s.code s_code, s.code_name s_code_name, s.up_code s_up_code-->
        from
        category l
        left outer join category m on (l.code = m.up_code)
<!--        left outer join category s on (m.code = s.up_code)-->
    </select>

    <select id="getSubCategory" parameterType="String" resultType="Category">
        SELECT category_id, code, code_name FROM category WHERE up_code = #{up_code};
    </select>

    <insert id="regProduct" parameterType="ProductVO" useGeneratedKeys="true" keyProperty="product_id">
        INSERT INTO product
        (title, content,price, stock, status, thumbnail_content, category_id)
        VALUES(
            #{title}, #{content}, #{price}, #{stock}, #{status},
            #{thumbnail_content}, #{category_id}
        )
    </insert>
    <update id="modProduct" parameterType="ProductVO">
        UPDATE product set #{title}, #{content}, #{price}, #{stock}, #{STATUS},
        #{thumbnail_content}, #{category_id}
        where product_id = #{product_id}
    </update>

    <delete id="delProduct" parameterType="int">
        delete from product where product_id = #{product_id}
    </delete>

    <select id="findProduct" parameterType="int" resultType="ProductVO">
        select * from product where product_id = #{product_id}
    </select>

    <select id="getProductList" resultType="ProductVO">
        select * from product
    </select>

    <resultMap id="adminProdVoList" type="AdminProdVoList">
        <result column="product_id" property="product_id" javaType="int"/>
        <result column="title" property="title" javaType="String"/>
        <result column="content" property="content" javaType="String"/>
        <result column="price" property="price" javaType="int"/>
        <result column="stock" property="stock" javaType="int"/>
        <result column="status" property="status" javaType="int"/>
        <result column="category_id" property="category_id" javaType="int"/>
        <result column="code_name" property="code_name" javaType="String"/>
        <result column="store_file_name" property="store_file_name" javaType="String"/>
        <result column="id" property="id" javaType="int"/>
    </resultMap>

    <select id="getAdminProdList" resultType="AdminProdVoList" parameterType="AdminProdVoList">
        SELECT
        p.product_id,p.title, p.thumbnail_content, p.price, p.stock, p.status,
        c.category_id, c.code_name,
        f.store_id, f.store_file_name
        FROM product p
        LEFT JOIN category c
        ON p.category_id = c.category_id
        LEFT JOIN file_store f
        ON p.product_id = f.id
        and f.board = 'product' and f.id = (
            select min(f.id) from file_store where f.id = p.product_id
        )
        <where>
            <if test="title">
                AND p.title LIKE concat('%' #{keyword} '%')
            </if>
            <if test="status">
                and p.status = #{status}
            </if>
            <if test="category_id">
                and c.category_id = #{category_id}
            </if>
        </where>
        GROUP BY product_id
    </select>
    <select id="getMainProductList" parameterType="AdminProdVoList">
        select * from product where status = 1;
    </select>

</mapper>