<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refactor.animals.repository.mybatis.ReplyAddInfoMapper">

    <insert id="addGood" parameterType="ReplyAddInfo" useGeneratedKeys="true" keyProperty="info_id">
        insert into reply_add_info(reply_id, login_id, table_name, good_status) values
        (
            #{reply_id}, #{login_id}, COALESCE(#{table_name},'adopt_board'), #{good_status}
        )
    </insert>

    <insert id="addBad" parameterType="ReplyAddInfo" useGeneratedKeys="true" keyProperty="info_id">
        insert into reply_add_info(reply_id, login_id, table_name, bad_status) values
        (
        #{reply_id}, #{login_id}, COALESCE(#{table_name},'adopt_board'), #{bad_status}
        )
    </insert>

    <select id="getReplyAddInfo" parameterType="ReplyAddInfoParam" resultType="ReplyAddInfo">
        select info_id, i.reply_id, table_name, good_status, bad_status, report, r.login_id
        from
        reply_add_info i
        left join adopt_reply_board r
        on i.reply_id = r.reply_id
        where i.login_id = #{login_id} and r.adt_id = #{adt_id} and i.reply_id = #{reply_id}
    </select>




<!--    <select id="getReplyAddInfo" resultMap="adoptReplyBoard">-->
<!--        r.reply_id, r.adt_id, r.upper_id, r.login_id, r.content, r.report_status, r.regdate, r.best_reply,-->
<!--        a.reply_id, a.good, a.bad, a.good_count, a.bad_count-->
<!--        from adopt_reply_board r-->
<!--        left join reply_action_history a-->
<!--        on r.reply_id = a.reply_id-->
<!--        where r.adt_id = #{adt_id}-->
<!--    </select>-->

<!--    <resultMap id="adoptReplyBoard" type="AdoptReplyBoardVO">-->
<!--        <id property="reply_id" column="reply_id"/>-->
<!--        <result property="adt_id" column="adt_id"/>-->
<!--        <result property="table_name" column="table_name"/>-->
<!--        <result property="upper_id" column="upper_id"/>-->
<!--        <result property="login_id" column="login_id"/>-->
<!--        <result property="content" column="content"/>-->
<!--        <result property="regdate" column="regdate"/>-->
<!--        <association property="replyAddInfo" javaType="ReplyAddInfo">-->
<!--            <id property="his_id" column="his_id"/>-->
<!--            <result property="reply_id" column="his_id"/>-->
<!--            <result property="table_name" column="table_name"/>-->
<!--            <result property="good" column="good"/>-->
<!--            <result property="bad" column="bad"/>-->
<!--            <result property="report_count" column="report_count"/>-->
<!--        </association>-->
<!--    </resultMap>-->

</mapper>