<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refactor.animals.repository.mybatis.UploadFileMapper">
    <insert id="insertFiles" parameterType="list">
        insert into file_store (board, id ,upload_file_name, store_file_name, ext_name, file_size)
        values
        <foreach collection="list" item="UploadFileVO" separator=",">
            (#{UploadFileVO.board}, #{UploadFileVO.id}, #{UploadFileVO.upload_file_name}, #{UploadFileVO.store_file_name}, #{UploadFileVO.ext_name}, #{UploadFileVO.file_size})
        </foreach>
    </insert>

    <select id="getFiles" parameterType="UploadFileVO" resultType="UploadFileVO">
        select store_id, board, id, upload_file_name, store_file_name, file_size, ext_name
        from file_store where board = #{board} and id = #{id}
    </select>

    <select id="downloadImage" parameterType="UploadFileVO" resultType="UploadFileVO">
        select store_id, board, id, upload_file_name, store_file_name, file_size, ext_name
        from file_store where store_id = #{store_id}
    </select>
    <select id="getThumbnail" parameterType="UploadFileVO" resultType="ThumbnailVO">
        select board, id, store_file_name from file_store where board = #{board} and id = #{id} limit 1
    </select>
    <delete id="deleteFile" parameterType="UploadFileVO">
        delete from file_store where board=#{board} and store_id = #{store_id}
    </delete>

</mapper>