<!doctype html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            width: 800px;
            height: 800px;
        }
    </style>
    <title>Document</title>
</head>
<body>
<div class="container">
    <img src="/img/error_image.jpg" alt="테스트에러페이지">
</div>

</body>
</html>