<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/template/header.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4f58cdeb20.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <title>Insert title here</title>
</head>
<body>
<header>
  <nav>
    <div class="logo_nav">
      <a href="index.jsp">
        <i class="fa-solid fa-shield-dog"></i>
        SaveAnimals
      </a>
    </div>
    <ul class="menu_nav">
      <li><a href="#">소개</a></li>
      <li><a href="getAnimalList.do">유기동물명단</a></li>
      <li><a href="getAdoptBoardList.do">자유게시판</a></li>
    </ul>
    <ul class="login_bar">
          <li class="login"><a href="login.jsp"><i class="fa-solid fa-right-to-bracket"></i> 로그인</a></li>
    </ul>

    <a href="#" class="navbar_toggleBtn">
      <i class="fa-solid fa-bars"></i>
    </a>
  </nav>
</header>
</body>
<script type="text/javascript">
</script>
</html>