<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kor">
<head>
<!--<link rel="stylesheet" href="/css/header.css" th:href="@{/css/header.css}"/>-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/4f58cdeb20.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:fragment="header">
  <nav>
      <div class="logo_nav">
        <a href="/base/">
          <i class="fa-solid fa-shield-dog"></i>
          SaveAnimals
        </a>
      </div>
      <div>
            <ul class="menu_nav">
              <li><a href="#" th:text="#{nav.introduce}">소개</a></li>
              <li><a th:href="@{/animalBoard/animalBoardList}" th:text="#{nav.animalList}">유기동물명단</a></li>
              <li><a th:href="@{/adoptBoard/adoptBoardList}" th:text="#{nav.freeBoard}">자유게시판</a></li>
              <li><a href="/adminPage" th:text="#{nav.adminPage}">관리자페이지</a></li>
            </ul>
      </div>
      <div th:if="${session.sessionId!=null}">
        <ul class="login_bar">
          <li class="login"><a href="/base/login"><i class="fa-solid fa-right-to-bracket"></i>로그아웃</a></li>
        </ul>
      </div>
      <div th:unless="${session.sessionId!=null}">
        <ul class="login_bar">
          <li class="login"><a href="/base/login"><i class="fa-solid fa-right-to-bracket"></i>로그인</a></li>
        </ul>
      </div>
      <a href="#" class="navbar_toggleBtn">
        <i class="fa-solid fa-bars"></i>
      </a>
  </nav>
</header>
</body>
</html>