<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template/common/layout/pagingLayout.html}"
      layout:fragment="content">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="/css/adoptBoard/adoptBoardList.css">
</head>
<body>
<div id="container">
    <h1 align="center">분양후기게시판</h1>
    <table class="table table-hover" id="contentTable">
<!--        <th:block th:each="info : ">-->
        <tr class="table-default">
            <td class="num">번호</td><td class="title">제목</td><td class="writer">작성자</td><td class="written_day">작성일자</td><td class="cnt">조회수</td>
        </tr>

        <th:block th:each="info : ${response.list}">
            <tr>
                <td><a th:text="${info.adt_id}"></a></td>
                <td><a th:text="${info.title}" th:href="@{|/adoptBoard/${info.adt_id}|}"></a></td>
                <td th:text="${info.login_id}"></td>
                <td th:text="${info.regdate}"></td>
                <td th:text="${info.cnt}"></td>
            </tr>
        </th:block>
    </table>

    <form th:object="${params}" method="get" th:action="@{/adoptBoard/adoptBoardList}">
        <table class="table" style='width: 1000px';>
            <tr>
                <td align="center">
                    <select name="searchType" th:field="*{searchType}">
                        <option value="TITLE">제목</option>
                        <option value="CONTENT">내용</option>
                        <option value="WRITER">작성자</option>
                    </select>
                    <input type="text" th:field="*{keyword}" name="searchKeyword">
                    <input type="submit" value="검색">
                </td>
            </tr>
<!--            <c:if test="${loginUser!=null}">-->
                <tr>
                    <td><input type="button" th:onclick="|location.href='@{add}'|" value="글쓰기"></td>
                </tr>
<!--            </c:if>-->
        </table>
    </form>
    <nav aria-label="Page navigation example">
        <div class="paging"></div>
    </nav>
</div>
</body>
</html>