<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template/common/layout/defaultLayout.html}"
      layout:fragment="content">
<head>
    <link rel="stylesheet" type="text/css" href="/css/adoptBoard.css" th:href="@{/css/adoptBoard.css}">
    <title>Insert title here</title>
</head>
<body>
<div id="overlay"></div>
<div class="container-fluid">
<h1>분양후기 게시판</h1>
    <div id="option_container">
        <div id="option_wrap">
            <div class="option_bar" id="deleteBtn"><span>삭제하기</span></div>
<!--            <div class="option_bar" id="updateBtn"> <a th:href="@{|/adoptBoard/updateBoardForm/${board.adt_id}|}"> <span>수정하기</span></a></div>-->
            <div calss="option_bar" id="updateBtn"><span>수정하기</span></div>
        </div>
    </div>
    <div id="option_icon_wrap"><span><img src="/img/icon/dots-vertical.png" style="width: 20px"> </span></div>
    <div class="bookmark_box">
        <a th:if="${board.bookmark == false}" href="#" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
            </svg>
        </a>
        <a th:if="${board.bookmark == true}" href="#" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
            </svg>
        </a>
    </div>
<div id="table_container">

<table class="table">
    <thead class="table-white">
    <tr>
        <td th:text="|작성자 ${board.login_id}|"></td>
    </tr>
    </thead>
    <tr>
        <td th:text="${board.title}"></td>
    </tr>
    <tr>
        <td th:utext="${#strings.replace(board.content, '\n', '<br/>')}"></td>
    </tr>
</table>

    <th:block th:each="file : ${files}">
        <div>
        <img th:src="|/adoptBoard/images/${file.getStore_file_name()}|" width="300"><!--property.application 정의 값 가져오기-->
    <ul>
        <a th:href="|/adoptBoard/attach/${file.getStore_id()}|">
            <li th:text="|${file.getUpload_file_name()}(size: ${file.getFile_size()})|"> </li>
        </a>
    </ul>
        </div>
    </th:block>
</div>
    <table class="table table-hover" id="replyList">
            <tr>
                <td class="reply_head" id="head_content">내용</td>
                <td class="reply_head" id="head_writer">작성자</td>
                <td> </td>
            </tr>
        <th:block th:if="${replyList.empty}">
            <tr>
                <td colspan="3">등록 댓글이 없습니다.</td>
            </tr>

        </th:block>
        <th:block th:each="reply : ${replyList}">
            <tr>
                <td id="reply_content" th:text="${reply.content}"></td>
                <td id="reply_id" th:text="${reply.login_id}"></td>
                <td>
                    <span th:if="${reply.good}==false"> <a class="good_btn" data-value="false" th:onclick="send_good([[${reply.reply_id}]], [[${reply.good}]], [[${reply.bad}]])">
                        <img id="good_before" class="heart" src="/img/icon/heart_before.png"></a> <p class="evalu_count" th:text="${reply.good_count}"></p></span>

                    <span th:if="${reply.good}==true"><a class="good_btn" data-value="true" th:onclick="send_good([[${reply.reply_id}]], [[${reply.good}]], [[${reply.bad}]])">
                        <img id="good_after" src="/img/icon/heart_after.png"> </a> <p class="evalu_count" th:text="${reply.good_count}"></p></span>

                    <span th:if="${reply.bad}==false"><a class="bad_btn"  data-value="false" th:onclick="send_bad([[${reply.reply_id}]], [[${reply.bad}]], [[${reply.good}]])">
                        <img id="bad_before" class="broken_heart" src="/img/icon/brokenheart_before.png"></a> <p class="evalu_count" th:text="${reply.bad_count}"></p></span>

                    <span th:if="${reply.bad}==true"><a class="bad_btn"  data-value="true" th:onclick="send_bad([[${reply.reply_id}]], [[${reply.bad}]] , [[${reply.good}]])">
                        <img id="bad_after" src="/img/icon/brokenheart_after.png"> </a> <p class="evalu_count" th:text="${reply.bad_count}"></p> </span>
                    <a class="del_btn" th:onclick="del_reply([[${reply.reply_id}]])">x</a>
                </td>
            </tr>
        </th:block>
    </table>


    <form id="replyForm">
        <table class="table table-hover">
            <tr>
                <td>
                    <div class="form-group">
                        <input type="text" name="content" class="form-control" id="content_a" aria-describedby="emailHelp">
                        <small id="notice" class="form-text text-muted">댓글을 입력하세요</small>
                        <button id="reply_btn" type="button" class="btn btn-primary">Submit</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
<script type="text/javascript" th:inline="javascript">
const adt_id = [[${board.adt_id}]];
let bookmark = [[${board.bookmark}]];
const overlay = document.getElementById('overlay');
const option_container = document.getElementById('option_container');
async function del_reply(reply_id){

    const data = {reply_id}

    try {
        const response = await fetch(`/adoptReplyBoard/deleteReply`, {
            headers : {
                'Content-Type' : 'application/json',
            },
            method: 'POST',
            body : JSON.stringify(data),
        })
        if(response.ok){
            window.location.reload();
        }
    }catch (error){
        console.error(error);
    }

}
async function send_good(reply_id, good_status, bad_status){
    alert(`reply_id : ${reply_id} / good_status : ${good_status} / bad_status: ${bad_status}`);
    if(bad_status==true){
        alert('이미 평가가 완료된 댓글입니다.');
        return;
    }

    try{
    const adoptReplyBoardVO = {
        reply_id : reply_id,
        good : good_status,
    }
    const response = await fetch('/adoptReplyBoard/good', {
        headers: {
            'Content-Type' : 'application/json',
        },
        method : 'POST',
        body : JSON.stringify(adoptReplyBoardVO),
    })
        if(response.ok){
            location.reload();
        }
    }catch(error){
        console.error(error);
    }

}

async function send_bad(reply_id, bad_status, good_status){
    alert(`reply_id : ${reply_id} / bad_status : ${bad_status} / good_status: ${good_status}`);

    if(good_status==true){
        alert('이미 평가가 완료된 댓글입니다.');
        return;
    }

    const adoptReplyBoardVO = {
        reply_id : reply_id,
        bad : bad_status,
    }
    try {


        const response = await fetch('/adoptReplyBoard/bad', {
            headers: {
                'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(adoptReplyBoardVO),
        })
        if (response.ok) {
            location.reload();
        }
    }catch(error){
        console.error(error);
    }
}
async function markUp(){

    try{
    const response = await fetch(`/adoptBoard/bookmark/${adt_id}`, {
        headers: {
            'Content-Type' : 'application/json',
        },
        method: 'POST',
        body: bookmark,
    })
        if(response.ok){
            let result = await response.json();
            if(result===true){
                alert('북마크가 등록 되었습니다.');
            }else if(result==='over'){
                alert('북마크가 최대치(4개)입니다. 북마크 해제 후 등록해주세요.');
            }else{
                alert('북마크가 해제되었습니다.');
            }
            window.location=`/adoptBoard/${adt_id}`;
        }
    }catch(error){
        console.error(error);
    }
}

document.querySelector('.bookmark').addEventListener('click', ()=>{
    let result;
    try {
        if (bookmark) {
            result = confirm('북마크를 해제하시겠습니까?');
            if (result) {
                bookmark = false;
                markUp();
            }
        } else {
            result = confirm('북마크를 등록하시겠습니까?');
            if (result) {
                bookmark = true;
                markUp();
            }
        }
    }catch(error){
        console.error(error);
    }
});

async function send_reply(){
    const upper_id=''; //내 댓글의 부모
    const content = document.getElementById('content_a').value;
    if(content==''){
        alert('내용을 입력하세요.');
        return;
    }

    const replyForm = {
        adt_id : adt_id,
        upper_id : upper_id,
        content :content,
    }

    try{
        const response = await fetch('/adoptReplyBoard/insertReply', {
            headers : {
                'Content-Type' : 'application/json',
            },
            method : 'POST',
            body : JSON.stringify(replyForm),
        });
        if(response.ok){
            location.reload();
        }

    }catch(error){
        console.error(error);
    }
}



document.getElementById('option_icon_wrap').addEventListener('click', ()=> {
    option_container.style.display="block";
    overlay.style.display="block";
})
overlay.addEventListener('click', ()=>{
    option_container.style.display="none";
    overlay.style.display="none";
})

document.getElementById('deleteBtn').addEventListener('click', ()=> {
    const result = confirm('삭제하시겠습니까?');
    if(result){
        location.href=`/adoptBoard/deleteBoard/${adt_id}`;
    }
})
document.getElementById('updateBtn').addEventListener('click', ()=> {
    location.href=`/adoptBoard/updateBoardForm/${adt_id}`;
})

document.getElementById('reply_btn').addEventListener('click', send_reply);


</script>
</html>