<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" href="css/insertAdoptBoard.css">
  <link rel="stylesheet" href="/resource/css/bootstrap.css">
  <title>Insert title here</title>
</head>
<script type="text/javascript">
  // var cnt=1;
  // function fn_addFile(){
  //   $("#d_file").append("<br>"+"<input type='file' name='file"+cnt+"'/>");
  //   cnt++;
  // }
</script>
<body>
<div class="top" style='margin-top: 50px;'></div>

<h1 align="center" style='width: 100%'>분양후기작성</h1>
<div id="container" style='margin-top: 30px; width: 800px;'>
  <form method="post" th:action th:object="${adoptBoardForm}">
    <table>
      <tr>
        <td><textarea maxlength="20" rows="1" cols="100" class="content" th:field="*{title}" required="required" placeholder="제목"></textarea> </td>
      </tr>
      <tr>
        <td><textarea style='resize:none;' maxlength="2000" rows="10" cols="100" class="content" th:field="*{content}"
                      required="required" placeholder="내용"></textarea></td>
      </tr>
      <tr>
        <td>
          <input type="hidden" th:field="*{login_id}" th:value="${session.login_id}">
<!--        <input style='margin-left: 30px;' type="button" value="파일추가" onClick="fn_addFile()"/>-->
<!--        <input type="hidden" name="upload_file_id" value="file_value">-->
<!--        <div id="d_file"></div>-->
      </td>
      </tr>
    </table>
    <input type="submit"  value="확인" style='margin-left: 320px; width:50px;'/>
  </form>
</div>
</body>
<script th:inline="javascript">
  const login_id = [[${session.login_id}]];
  alert(login_id);
</script>
</html>