<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css" th:href="@{css/header.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/animalList1.css">
    <title>Title</title>
</head>
<body>
<div th:replace="~{/template/fragment/header :: copy}"></div>
<h1 style="text-align: center">유기동물명단</h1>
<div class="table_container">
    <div class="subnav">
        <form action="/adoptBoard/getAnimalList" method="post">
            <select name="sortRegion">
                <!-- 		<option value="">지역검색 -->
                <c:forEach items="${sortRegion}" var="rigion">
                    <option value="${rigion.value}">${rigion.key }>
                </c:forEach>
                <!-- 		</option> -->
            </select>
            <select name="sortAnimal">
                <!-- 		<option value="">동물분류 -->
                <c:forEach items="${sortSpecies}" var="species">
                    <option value="${species.value}">${species.key }
                </c:forEach>
                <!-- 		</option> -->
            </select>
            <input type="submit" value=" 검 색 " class="search">
        </form>
    </div>
    <table class="table table-hover">
        <tr class="table-active">
            <td scope="col">이미지</td>
            <td scope="col" id="sigun">시군</td>
            <td scope="col" id="dscvr">발견장소</td>
            <td scope="col" id="recept">접수일자</td>
            <td scope="col" id="species">품종</td>
            <td scope="col" id="state">상태</td>
            <td scope="col" id="crct">특징</td>
        </tr>
            <tr th:each="li: ${list}">
                <td id="list_img"><a href= "getAnimal.do?ASEQ=${li.ASEQ}"><img src=${li.IMAGE_COURS}></a></td>
                <td>${li.SIGUN_NM}</td>
                <td>${li.DISCVRY_PLC_INFO}</td>
                <td>${li.RECEPT_DE}</td>
                <td>${li.SPECIES_NM}</td>
                <td>${li.STATE_NM}</td>
                <td>${li.SFETR_INFO}</td>
            </tr>
    </table>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script type="text/javascript">

</script>
</html>