<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template/common/layout/defaultLayout.html}"
      layout:fragment="content">
<head>
  <title>Insert title here</title>
  <link rel="stylesheet" th:href="@{/css/adoptBoardForm.css}">
</head>
<script type="text/javascript">
</script>
<body>

<div class="container">
  <div class="container text-center"><h1>게시글 작성</h1></div>
<div class="mb-3">
  <form method="post" th:action th:object="${adoptBoardForm}" enctype="multipart/form-data">
    <div class="col-10" id="title">
        <input class="form-control" th:field="*{title}" required="required" placeholder="제목">
    </div>
    <div class="col-10" id="content">
        <td><textarea rows="10" class="form-control" th:field="*{content}"
                      required="required" placeholder="내용"></textarea></td>
          <input type="hidden" th:field="*{login_id}" th:value="${session.login_id}">
    </div>
    <div class="col-10" id="files">
          <ul>
<!--              <li>첨부파일 <input type="file" name="image_files"></li>-->
              <li>이미지파일 <input type="file" multiple="multiple" th:field="*{image_files}"></li>
          </ul>

    </div>
    <div>
        <button type="submit" class="btn btn-outline-primary">글쓰기</button>
    </div>
  </form>
</div>
</div>
</body>
<script th:inline="javascript">
  const login_id = [[${session.login_id}]];
  alert(login_id);
</script>
</html>