<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template/common/layout/pagingLayout.html}"
      layout:fragment="content">
<head>
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" href="/css/animalList.css" th:href="@{/css/animalList.css}"/>
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center">유기동물명단</h1>
<div class="table_container">
    <div class="subnav">
        <form action="/animalBoard/animalBoardList" method="get">
            <label>
                <select th:name="sortRegion">
                    <option th:each=" region : ${sortRegion}"
                            th:value="${region.value}" th:text="${region.key}">
                        지역분류
                    </option>
                </select>
            </label>
            <label>
                <select th:name="sortSpecies">
                    <option th:each="species : ${sortSpecies}"
                            th:value="${species.value}" th:text="${species.key}">
                        종분류
                    </option>
                </select>
            </label>
            <input type="submit" value=" 검 색 " class="search">
        </form>
    </div>
<div class="table-responsive">
    <table class="table table-hover">
        <tr class="table-info">
            <td>이미지</td>
            <td id="sigun">시군</td>
            <td id="dscvr">발견장소</td>
            <td id="recept">접수일자</td>
            <td id="species">품종</td>
            <td id="state">상태</td>
            <td id="crct">특징</td>
        </tr>
        <th:block th:each="info : ${response.list}">
            <tr class="table-info">
                <td id="list_img"><a th:href="@{/animalBoard/animalBoard(ASEQ=${info.ASEQ})}"><img th:src="${info.IMAGE_COURS}" class="img" alt="#"></a></td>
                <td class="table-default" th:text="${info.SIGUN_NM}">시군</td>
                <td class="table-default" th:text="${info.DISCVRY_PLC_INFO}">발견장소</td>
                <td class="table-default" th:text="${info.RECEPT_DE}">접수일자</td>
                <td class="table-default" th:text="${info.SPECIES_NM}">품종</td>
                <td class="table-default" th:text="${info.STATE_NM}">상태</td>
                <td class="table-default info" th:text="${info.SFETR_INFO}">특징</td>
            </tr>
        </th:block>
</table>
    </div>
</div>
<!-- pagination rendering area-->
<nav aria-label="Page navigation example">
<div class="paging"></div>
</nav>
<!-- button -->
</body>
</html>