<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template/common/layout/defaultLayout.html}"
      layout:fragment="content">
<head>
  <link rel="stylesheet" th:href="@{/css/index.css}"/>
  <title>Document</title>
</head>
<body>
      <div class="parent">
        <div class="box info">info</div>
        <div class="box animal1">
          <div class="box animal_pic">
            사진
          </div>
          <div class="box animal_con">
            내용
          </div>
        </div>
        <div class="box animal2">
          <div class="box animal_pic">
            사진
          </div>
          <div class="box animal_con">
            내용
          </div>
        </div>
        <div class="box animal3">
          <div class="box animal_pic">
            사진
          </div>
          <div class="box animal_con">
            내용
          </div>
        </div>
        <div class="box animal4">
          <div class="box animal_pic">
            사진
          </div>
          <div class="box animal_con">
            내용
          </div>
        </div>
        <div class="box rList1">
          <div>
            <ul class="area" id="area1">

            </ul>
          </div>
        </div>
        <div class="box rList2">
          <div>
            <ul class="area" id="area2">

            </ul>
          </div>
        </div>
        <div class="box rList3">
          <div>
            <ul class="area" id="area3">

            </ul>
          </div>
        </div>
</div>
</body>
<script th:inline="javascript">
  let data=null;
  async function getAsideList() {
    try{
      const response = await fetch('/animalBoard/getAsideBoard', {
        headers: {
          'Content-Type': 'application/json'
        },
      })
       data = await response.json();
      document.createElement("li")
      
    }catch(error){
      console.error(error);
    }
  }

  window.addEventListener('DOMContentLoaded', ()=>{
    getAsideList();
  });
</script>
</html>