<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template/common/layout/defaultLayout.html}"
      layout:fragment="content">
<head>
  <link rel="stylesheet" th:href="@{/css/index.css}"/>
  <title>Document</title>
</head>
<body>
<div class="container">
  <div class="left">
  </div>
  <div class="right">
        <div class="box info">info
          <a href="/base/updatePage">동물업데이트</a>
          <div id="info_box">
          </div>
        </div>
        <!-- 사이드 -->
        <div class="side_wrap">
        </div>

  </div>
</div>
</body>
<script th:inline="javascript">
  let data=null;
  let bookmark=null;
          async function getAsideList() {
    try{
      const response = await fetch('/animalBoard/getAsideBoard', {
        headers: {
          'Content-Type': 'application/json'
        },
      })
       data = await response.json();
      const side_wrap = document.querySelector('.side_wrap');
      data.forEach((list)=>{
        const imminent_wrap = document.createElement('div');
        const imm_head = document.createElement('div');
        const imm_con = document.createElement('div');
        const imm_img = document.createElement('img');
        const a_img = document.createElement('a');
        imminent_wrap.classList.add('imminent_wrap');
        a_img.href = `/animalBoard/animalBoard?ASEQ=${list.aseq}`;
        a_img.appendChild(imm_img);
        imm_head.classList.add('imm_head');
        imm_con.classList.add('imm_con');
        imm_img.classList.add('imm_img');
        imm_img.setAttribute('src', list.image_COURS);
        imm_head.appendChild(a_img);
        imm_con.innerHTML = `<br>지역 : ${list.sigun_NM}`;
        imm_con.innerHTML += `<br>공고종료일 : ${list.pblanc_END_DE}`;
        imm_con.innerHTML += `<br>종별 : ${list.species_NM}`;
        //따로따로 해줘야함.
        side_wrap.appendChild(imminent_wrap);
        imminent_wrap.appendChild(imm_head);
        imminent_wrap.appendChild(imm_con);
      })
    }catch(error){
      console.error(error);
    }
  }

  async function getBookmarkList() {

    try {
      const response = await fetch('/adoptBoard/bookmarkList', {
        headers: {
          'Content-Type': 'application/json',
        },
          'method' : 'POST',
      })
        if(response.ok){
          bookmark = await response.json();

          for(i=0; i<bookmark.thumbnailList.length;i++){
            let main_pic_div =  document.getElementById(`main_pic${i}`);
            let main_con_title = document.getElementById(`main_con_title${i}`);
            let main_con_content = document.getElementById(`main_con_content${i}`)
            let title_p = document.createElement('p');
            let content_p = document.createElement('p');
            let adt_id = bookmark.thumbnailList[i]?.adt_id ?? 'x';
            if(adt_id!=='x'){
              document.getElementById(`a_main${i}`).href=`/adoptBoard/${bookmark.thumbnailList[i].adt_id}`;
              main_pic_div.src= `/adoptBoard/images/${bookmark.thumbnailList[i].store_file_name}`;
              title_p.innerText = bookmark.boardList[i].title;
              content_p.innerHTML = bookmark.boardList[i].content.replace(/\n/g, '<<br/>');
              main_con_title.appendChild(title_p);
              main_con_content.appendChild(content_p);
            }else{
              console.log(`북마크된 게시글 x`);
            }


            console.log(main_con_title);

          }
        }

    }catch(error){
      console.error(error);
    }
  }

  window.addEventListener('DOMContentLoaded', ()=>{
    getAsideList();
    getBookmarkList();
  });
</script>
</html>