<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/join.css}">
  <meta charset="UTF-8">
<style>
  .field-error, #noticeId{
    border-color: #dc3545;
    color: #dc3545;
  }
</style>
</head>
<body>
<div class="top_section"> </div>
<div class="form_section">
  <div class="wrap_form">
    <div class="join_box">
      <a href="javascript:window.history.back()"><img id="backward" src="/img/icon/backward.png"></a>
      <div class="title" align="center"> <h1 th:text="#{join.signUp}">회원가입</h1></div>
      <form th:object="${joinForm}" th:action method="post" id="joinForm">
        <ul>
          <li>
            <div class="head" th:text="#{join.id}">아이디</div>
            <input type="text" id="login_id" th:field="*{login_id}" placeholder="아이디를 입력하세요"
              th:classerror="field-error" class="form-control">
            <button type="button" id="duplicationCheck">중복확인</button>
            <div id="field_login_id" class="exception">id alert</div>
          </li>
          <li>
            <div class="head" th:text="#{join.password}">비밀번호</div>
            <input type="password" th:field="*{password}" placeholder="비밀번호를 입력하세요" class="form-control"
                th:errorclass="field-error" id="password">
            <div id="field_password" class="exception">비밀번호 알림</div>
          </li>
          <li>
            <div class="head" th:text="#{join.confirm_password}">비밀번호확인</div>
            <input type="password" th:field="*{confirm_password}" id="confirm_password" placeholder="동일한 비밀번호를 입력하세요" class="form-control">
          </li>
          <li>
            <div class="head" th:text="#{join.name}">이름</div>
            <input type="text" th:field="*{name}" placeholder="이름을 입력하세요" class="form-control" id="name"
                th:errorclass="field-error">
            <div id="field_name" class="exception">이름 알림</div>

          </li>
          <li>
            <div class="head" th:text="#{join.nickname}">닉네임</div>
            <input type="text" th:field="*{nickname}" class="form-control" placeholder="닉네임을 입력하세요" id="nickname"
                th:errorclass="field-error">
            <div id="field_nickname" class="exception">닉네임 알림</div>
          </li>

          <li id="email_li">
            <div class="head" th:text="#{join.email}">이메일</div>
            <input type="text" class="form-control" id="email_head"> @
            <input type="text" class="form-control" id="email_address">
<!--            <input type="hidden" th:field="*{email}" id="email">-->
            <button type="button" id="email_auth_btn">메일발송</button>
            <select id="email_option">
              <option value="">====이메일 선택=====</option>
              <option value="daum.net">daum.net</option>
              <option value="naver.com">naver.com</option>
              <option value="google.com">google.com</option>
              <option value="etc">기타</option>
            </select>
            <input type="text" id="input_random_number" placeholder="인증번호">
          </li>


          <li>
            <div class="head" th:text="#{join.phone}"> 번호 </div>
            <input type="text" th:field="*{phone}" class="form-control" id="phone"
                th:errorclass="field-error">
            <div id="field_phone" class="exception">번호 알림</div>
          </li>

          <li>
            <div class="head" th:text="#{join.address}">주소</div>
            <input type="text" th:field="*{postcode}" id="postcode" placeholder="우편번호" class="form-control">
            <input type="button" onclick="execPostcode()"
                   id="search_addr" value="우편번호 찾기"><br>
          </li>

          <li>
            <input type="text" id="address" placeholder="주소" th:field="*{address}" class="form-control"
            th:errorclass="field-error"><br>
            <div id="field_address" class="exception">
              주소 오류
            </div>
          </li>

          <li>
          <!--  글로벌 오류 메시지 나중에 추가하기-->
            <div th:if="${#fields.hasGlobalErrors()}">
              <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌오류메시지</p>
            </div>
            <input type="text" id="detail_address" placeholder="상세주소" th:field="*{detail_address}" class="form-control"
            th:errorclass="field-error">
            <input type="text" id="extra_address" placeholder="참고항목" th:field="*{extra_address}">
          </li>
          <li>
            <input type="button" value="회원가입" class="join" id="joinBtn">
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
</body>
<!-- footer 삽입-->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  let respData=null; //회원가입 시 데이터 객체화를 위한 변수
  let idDuplicationCheck=false;
  let login_Id = document.querySelector('#login_id');
  let confirmId=''; //아이디 확인
  let resp=null;
  let postcode_input = document.getElementById('postcode');
  let detail_address_input = document.getElementById('detail_address');
  let extra_addr_input = document.getElementById('extra_address');
  let address_input = document.getElementById('address');
  let email='';
  let email_head = document.getElementById('email_head');
  let email_option = document.getElementById('email_option');
  let email_address = document.getElementById('email_address');
  let email_auth_btn = document.getElementById('email_auth_btn');
  let random_number= null;
  let input_random_number = document.getElementById('input_random_number'); //사용자 입력 난수
  let mail_pass = false;

      //사용자 입력 값 변경 감지 핸들러 시작
      email_option.addEventListener('change', () => {
        email_address.value = email_option.value;
        email_auth_btn.disabled = false;
        email_auth_btn.innerText = '메일발송';

        if (email_option.value == 'etc') {
          email_address.focus();
          email_address.value = '';
        }
      })
      email_head.addEventListener('input', () => {
        email_auth_btn.disabled = false;
        email_auth_btn.innerText = '메일발송';
      })
      email_address.addEventListener('input', () => {
        email_auth_btn.disabled = false;
        email_auth_btn.innerText = '메일발송';
      });
      input_random_number.addEventListener('input', () => {
        email_auth_btn.disabled = false;
      });
      //사용자 입력 값 변경 감지 핸들러 끝

      //--------버튼 텍스트를 통해 분기
      async function sendMail_or_authNumber() {
        //------------------------버튼 클릭시 이메일 중복체크 추가하기-----------------------

        if(mail_pass==true){
          return;
        }

        email_auth_btn.disabled = true;       //발동시 버튼 정지

        if (email_auth_btn.innerText === '메일발송') {  // 버튼의 내용으로 분기
          if (email_head.value == '' || email_address.value == '') {  //값이 없다면 중단
            email_auth_btn.disabled = false;
            alert('이메일을 입력해주세요');
            return;
          }
          email_auth_btn.innerText = '인증';    //메일 발송후 값 인증 버튼 변경

          //메일 발송 이벤트 실시

          random_number = random_number_maker();
          email = `${email_head.value}@${email_address.value}`; //버튼 클릭시 이메일 값 가져옴
          //난수생성

          const subject = "Animals 회원인증번호 발송";
          const body = `안녕하세요 Animals에서 인증 번호 보내드립니다. \n
            회원가입 인증번호 : ${random_number}`;

          let params = {
            email: email,
            random_number: random_number,
            subject: subject,
            body: body,
            //내용필요
          }

          try {

            const response = await fetch('/email/auth/sendEmail', {
              headers: {
                'Content-Type': 'application/json; charset=utf-8',
              },
              method: 'POST',
              body: JSON.stringify(params),
            });
            if (response.ok) {
              random_number = await response.json();
              email_auth_btn.disabled=true;
              alert('메일이 발송되었습니다.');
              //메일 발송 및 발신난수
            }
          } catch (error) {
            console.error('fetch error', error);
          }
        } else {
          if (input_random_number.value == '') {          //인증 분기임에도 인증코드 없으면 버튼 상태 변경
            email_auth_btn.innerText = '메일발송';
            return;
          }
          email_auth_btn.innerText = '인증';
          //인증이벤트 실시
          console.log(input_random_number.value + "/" + random_number);
          if (input_random_number.value == random_number) {
            email_auth_btn.disabled = true;
            mail_pass = true;
            email_head.disabled=true;
            email_address.disabled=true;
            email_option.disabled=true;
            input_random_number.disabled=true;
             //인증 이후 변경 불가능하도록함
            alert('인증되었습니다.');
          }
        }
      };



  email_auth_btn.addEventListener('click', sendMail_or_authNumber);

  random_number_maker =()=>{
    return Math.floor(Math.random()*1000000).toString().padStart(6, "0");
  }



  async function joinProcess(){

    if(confirmId!==login_Id.value||idDuplicationCheck==false){
      console.log('확인아이디'+confirmId+'/입력아이디'+login_Id.value+'아이디중복확인여부'+idDuplicationCheck);
      alert('아이디 확인을 해주세요.');
      return;
    }

    if(mail_pass==false){
      alert('메일 인증을 해주세요.');
      return;
    }

    //이메일 인증상태 확인


    try{
      let joinForm = {
        login_id : login_Id.value,
        password : document.querySelector('#password').value,
        confirm_password : document.querySelector('#confirm_password').value,
        name : document.querySelector('#name').value,
        nickname : document.querySelector('#nickname').value,
        phone : document.querySelector('#phone').value,
        postcode : postcode_input.value,
        address : address_input.value,
        detail_address : detail_address_input.value,
        extra_address : extra_addr_input.value,
        email : email
      }

      resp = await fetch('/animal/api/join', {
        method: 'POST',
        headers:{
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(joinForm),
      });
      // 회원가입 폼 안내 멘션
      if(!resp.ok){
        respData = await resp.json();
        for (i = 0; i < respData.fieldErrorDetails.length; i++) {
          let field_name = 'field_' + respData.fieldErrorDetails[i].field; //field_name
          let message = respData.fieldErrorDetails[i].message;
          let element = document.getElementById(field_name);
          if(element){
            element.style.visibility = "visible";
            element.innerText = message;
          }
        }
        return;
      }
      alert('회원가입이 완료되었습니다.');
      window.location.replace('/');
    } catch (error){
      console.error(error);

    }
  }

  const isLoginIdDuplicate = () => {
    if(!login_Id.value){
      alert('아이디를 입력해주세요');
      return;
    }

    fetch('/animal/api/isLoginIdDuplicate',{
      method : "POST",
      headers : {
        'Content-Type':'text/plain',
      },
      body: login_Id.value,
    }).then(resp=>{
      if(resp.ok){
        return resp.text();
      }else{
        alert('에러발생'); // 오류처리해주기
      }
    }).then(data=>{
      console.log(data);
      if(data=='true'){ //서버>클라 boolean타입은 String으로 변환됨
        alert('사용할 수 없는 아이디입니다.');
        login_Id.value='';
      }else{
        alert('사용할 수 있는 아이디입니다.');
        idDuplicationCheck=true;
        confirmId=login_Id.value;
      }
    }).catch(error=>{
      alert('오류 발생 : ' + error.message); //오류처리해주기
    })
  };
   const isPasswordSame = () =>{
    let password =document.getElementById('password');
    let confirm_password = document.getElementById('confirm_password');
    if(password.value!==confirm_password.value){
      alert('동일한 비밀번호를 사용해주세요');
      confirm_password.value='';
    }
  };

  document.querySelector('#duplicationCheck').addEventListener('click', isLoginIdDuplicate);
  document.querySelector('#confirm_password').addEventListener('change', isPasswordSame);
  document.querySelector('#joinBtn').addEventListener('click', joinProcess);


  function execPostcode() {
    new daum.Postcode({
      oncomplete: function(data) {
      var address='';
      var extraAddr='';
        console.log(data);
        if (data.userSelectedType === 'R') {
          address = data.roadAddress;
        } else {
          address = data.jibunAddress;
        }

        if(data.userSelectedType === 'R'){
          if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
            extraAddr += data.bname;
          }
          if(data.buildingName !== '' && data.apartment === 'Y'){
            extra_addr_input += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
          }
          if(extraAddr !== ''){
            extraAddr = ' (' + extraAddr + ')';
          }
          extra_addr_input.value = extraAddr;

        } else {
          extra_addr_input.value = '';
        }
        postcode_input.value = data.zonecode;
        address_input.value = address;
        detail_address_input.focus();
      }
    }).open();
  }
</script>


</html>