<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/join.css}">
  <meta charset="UTF-8">
  <title>Insert title here</title>
</head>
<body>
<div class="top_section"> </div>
<div class="form_section">
  <div class="wrap_form">
    <div class="join_box">
      <div class="title" align="center"> <h1 th:text="#{join.signUp}">회원가입</h1></div>
      <form action="insertUser.do" method="post" name="form">
        <input type="hidden" name="grade">
        <input type="hidden" name="joinDate">
        <ul>
          <li>
            <div class="head" th:text="#{join.id}">아이디</div> <input type="text" name="id" id="idInput">
            <button id="dupliCheck">중복확인</button>
          </li>
          <li>
            <div class="head" th:text="#{join.password}">비밀번호</div> <input type="password" name="pswd">
          </li>
          <li>
            <div class="head" th:text="#{join.name}">이름</div> <input type="text" name="name">
          </li>
          <li>
            <div class="head" th:text="#{join.nickname}">닉네임</div> <input type="text" name="nick">
          </li>
          <li>
            <div class="head" th:text="#{join.number}">연락처</div> <input type="text" name="phone">
          </li>
          <li>
            <div class="head" th:text="#{join.address}">주소</div>
            <input type="text" id="postcode" placeholder="우편번호">
            <input type="button" onclick="sample6_execDaumPostcode()" id="search_addr" value="우편번호 찾기"><br>
            <input type="text" id="address" placeholder="주소"><br>
            <input type="text" id="detailAddress" placeholder="상세주소">
            <input type="text" id="extraAddress" placeholder="참고항목">
          </li>
          <li> <input type="submit" value="회원가입" class="join"></li>
        </ul>
      </form>
    </div>
  </div>
</div>
</body>
<!-- footer 삽입-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  //해당 코드는 정상적으로 데이터 값이 전달되면 팝업창은 close()되도록 되어있음
  let postcodeInput = document.getElementById('postcode');
  let detailAddressInput = document.getElementById('detailAddress');
  let extraAddrInput = document.getElementById('extraAddress');
  let addressInput = document.getElementById('address');

  function sample6_execDaumPostcode() {
    new daum.Postcode({
      oncomplete: function(data) {
      var address='';
      var extraAddr='';
        console.log(data);
        if (data.userSelectedType === 'R') {
          address = data.roadAddress;
        } else {
          address = data.jibunAddress;
        }

        if(data.userSelectedType === 'R'){
          if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
            extraAddr += data.bname;
          }
          if(data.buildingName !== '' && data.apartment === 'Y'){
            extraAddrInput += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
          }
          if(extraAddr !== ''){
            extraAddr = ' (' + extraAddr + ')';
          }
          extraAddrInput.value = extraAddr;

        } else {
          extraAddrInput.value = '';
        }
        postcodeInput.value = data.zonecode;
        addressInput.value = address;
        console.log(address);
        detailAddressInput.focus();
      }
    }).open();
  }
</script>


</html>