<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/join.css}">
  <meta charset="UTF-8">
<style>
  .field-error, #noticeId{
    border-color: #dc3545;
    color: #dc3545;
  }
  li{
    /*height: 130px;*/
  }
</style>
</head>
<body>
<div class="top_section"> </div>
<div class="form_section">
  <div class="wrap_form">
    <div class="join_box">
      <div class="title" align="center"> <h1 th:text="#{join.signUp}">회원가입</h1></div>
      <form th:object="${joinFormDTO}" method="post" id="joinForm">
        <ul>
          <li>
            <div class="head" th:text="#{join.id}">아이디</div>
            <input type="text" id="loginId" th:field="*{loginId}" placeholder="아이디를 입력하세요"
              th:classerror="field-error" class="form-control">
            <button type="button" id="duplicationCheck">중복확인</button>
            <div id="noticeId"></div>
            <div class="field-error" th:errors="*{loginId}">
              아이디 오류
            </div>
          </li>
          <li>
            <div class="head" th:text="#{join.password}">비밀번호</div>
            <input type="password" th:field="*{password}" placeholder="비밀번호를 입력하세요" class="form-control"
                th:errorclass="field-error" id="password">
            <div class="field-error" th:errors="*{password}">
              비밀번호 오류
            </div>
          </li>
          <li>
            <div class="head" th:text="#{join.confirmPassword}">비밀번호확인</div>
            <input type="password" th:field="*{confirmPassword}" id="confirmPassword" placeholder="동일한 비밀번호를 입력하세요" class="form-control">
          </li>
          <li>
            <div class="head" th:text="#{join.name}">이름</div>
            <input type="text" th:field="*{name}" placeholder="이름을 입력하세요" class="form-control"
                th:errorclass="field-error">
            <div class="field-error" th:errors="*{name}"> <!--bindingResult.hasErrors()가 가지고 있는 해당 오류 값을 뱉음-->
               이름 오류
            </div>

          </li>
          <li>
            <div class="head" th:text="#{join.nickname}">닉네임</div>
            <input type="text" th:field="*{nickName}" class="form-control" placeholder="닉네임을 입력하세요"
                th:errorclass="field-error">
            <div class="field-error" th:errors="*{nickName}">
              닉네임 오류
            </div>
          </li>
          <li>

            <div class="head" th:text="#{join.phone}"> 번호 </div>
            <input type="text" th:field="*{phone}" class="form-control"
                th:errorclass="field-error">
            <div class="field-error" th:errors="*{phone}">
              번호 오류
            </div>
          </li>

          <li>
            <div class="head" th:text="#{join.address}">주소</div>
            <input type="text" th:field="*{postcode}" id="postcode" placeholder="우편번호" class="form-control">
            <input type="button" onclick="sample6_execDaumPostcode()"
                   id="search_addr" value="우편번호 찾기"><br>
          </li>

          <li>
            <input type="text" id="address" placeholder="주소" th:field="*{address}" class="form-control"
            th:errorclass="field-error"><br>
            <div class="field-error" th:errors="*{address}">
              주소 오류
            </div>
          </li>

          <li>
            <div th:if="${#fields.hasGlobalErrors()}">
              <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌오류메시지</p>
            </div>
            <input type="text" id="detailAddress" placeholder="상세주소" th:field="*{detailAddress}" class="form-control"
            th:errorclass="field-error">
            <input type="text" id="extraAddress" placeholder="참고항목" th:field="*{extraAddress}">
            <div class="field-error" th:errors="*{extraAddress}">
              상세주소 오류
            </div>
          </li>
          <li>
            <input type="submit" value="회원가입" class="join">
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
</body>
<!-- footer 삽입-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  const validateDuplication = () => {
    let loginId = document.querySelector('#loginId');
    alert(loginId.value);
  }
   validateSame = () =>{
    let password =document.getElementById('password');
    let confirmPassword = document.getElementById('confirmPassword');
    if(password.value!==confirmPassword.value){
      alert('동일한 비밀번호를 사용해주세요');
      confirmPassword.value='';
    }
  }

  document.querySelector('#duplicationCheck').addEventListener('click', validateDuplication);
  document.querySelector('#confirmPassword').addEventListener('change', validateSame);


  // function idCheck(id){
  //
  //   let loginId = id.value;
  //   let limit = /^[a-zA-Z]{5,15}$/;
  //   if(!limit.test(loginId)){
  //     document.getElementById("noticeId").textContent ="영문자만 입력해주세요.";
  //     id.value='';
  //   }else{
  //     document.getElementById("noticeId").textContent='';
  //   }
  // }

  //해당 코드는 정상적으로 데이터 값이 전달되면 팝업창은 close()되도록 되어있음
  let postcodeInput = document.getElementById('postcode');
  let detailAddressInput = document.getElementById('detailAddress');
  let extraAddrInput = document.getElementById('extraAddress');
  let addressInput = document.getElementById('address');

  function sample6_execDaumPostcode() {
    new daum.Postcode({
      oncomplete: function(data) {
      var address='';
      var extraAddr='';
        console.log(data);
        if (data.userSelectedType === 'R') {
          address = data.roadAddress;
        } else {
          address = data.jibunAddress;
        }

        if(data.userSelectedType === 'R'){
          if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
            extraAddr += data.bname;
          }
          if(data.buildingName !== '' && data.apartment === 'Y'){
            extraAddrInput += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
          }
          if(extraAddr !== ''){
            extraAddr = ' (' + extraAddr + ')';
          }
          extraAddrInput.value = extraAddr;

        } else {
          extraAddrInput.value = '';
        }
        postcodeInput.value = data.zonecode;
        addressInput.value = address;
        console.log(address);
        detailAddressInput.focus();
      }
    }).open();
  }
</script>


</html>