<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/loginForm.css}"/>
  <meta charset="UTF-8">
  <title>Insert title here</title>
</head>
<body>
<div class="container">
  <div class="top_section"></div>
  <div class="content_section">
      <div class="login_box">
        <div class="top"> <span id="title">SaveAnimals</span> </div>
        <div class="middle">
            <div class="head subject">아이디</div>
            <div class="head" id="input_id"><input type="text" id="login_id"></div>
            <div class="head subject">비밀번호</div>
            <div class="head" id="input_password"><input type="password" id="password"></div>
        </div>
        <div id="middle_bar">
              <button type="button" id="login_btn"><span id="login_bar_text">로그인</span></button>
        </div>
        <div class="bottom">
            <div class="option" id="join_div"><a th:href="@{/base/join}" class="join_a">회원가입</a></div>
            <div class="option" id="find_div"><a th:href="@{/base/findInfo}">회원정보찾기</a> </div>
        </div>
      </div>
  </div>
</div>
<script th:inline="javascript">
  let loginResult=null;

  login = () => {
    const loginData = { // loginId, password 의 속성을 가지고 있는 loginData.자바스크립트 객체
      login_id : document.getElementById('login_id').value,
      password : document.getElementById('password').value
    };
    const config = {
      method: 'POST',
      body: JSON.stringify(loginData), //js객체를 json 문자열로 직렬화함
      headers: {
        'Content-Type' : 'application/json'
      }
    };
    //Promise. 비동기 작업의 결과나 상태를 다루는 객체.
    // 하나의 비동기 작업 = Promise 해당 작업의 성공 실패 결과나 상태 정보를 제공함
    // ☆★ 로그인시 bindingResult로 불일치시 reject처리하기
    fetch('/animal/api/login', config)
      .then((res) => res.json())
      .then((result)=>{
        loginResult=result;
        if(loginResult.status!='OK'){ //로그인이 실패든 성공이든 동일한 object로 반환하여 해당 조건에 맞춰줘야함.
          alert(loginResult.message);
          return;
        }
        location.replace("/");
      })
      .catch((error)=>{
        console.error('login error', error);
        alert('서버와 통신중 오류가 발생했습니다.');
      });
    //Promise method changing
  }

  document.getElementById('login_btn').addEventListener('click', login);

  const welcome = /*[[${param.welcome}]]*/ '';
  if(welcome){
    alert(welcome);
  }
</script>
</body>
</html>