<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/login.css}"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta charset="UTF-8">
  <title>Insert title here</title>
</head>
<body>
<div class="container">
  <div class="top_section"></div>
  <div class="form_section">
    <div class="wrap_form">
      <div class="login_box">
        <div class="logo_bar"> <h1>로그인</h1> </div>

        <div class="user_box">
          <form>
            <ul>
              <li>
                <div class="head">아이디</div> <input type="text" id="loginId">
              </li>
              <li>
                <div class="head">비밀번호</div> <input type="password" id="password">
              </li>
            </ul>
            <button type="button" id="loginBtn">로그인</button>
          </form>
          <div class="info_user">
            <a th:href="@{/base/join}" class="join_a">회원가입</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:inline="javascript">
  let loginObject;

  login = () => {
    const loginData = { // loginId, password 의 속성을 가지고 있는 loginData.자바스크립트 객체
      loginId : document.getElementById('loginId').value,
      password : document.getElementById('password').value
    };

    const data = {
      method: 'POST',
      body: JSON.stringify(loginData), //js객체를 json 문자열로 직렬화함
      headers: {
        'Content-Type' : 'application/json'
      }
    };
    //Promise. 비동기 작업의 결과나 상태를 다루는 객체.
    // 하나의 비동기 작업 = Promise 해당 작업의 성공 실패 결과나 상태 정보를 제공함
    // ☆★ 로그인시 bindingResult로 불일치시 reject처리하기
    fetch('/animal/api/login', data)
      .then((res) => res.json())
      .then((result)=>{
        loginObject=result;
        if(loginObject.status===200){
          window.location.replace("/");
        }else{
          alert(loginObject.message);
        }
      })
      .catch((error)=>{
        console.error('로그인에러', error);
        alert('서버와 통신중 오류가 발생했습니다.');
      });
    //Promise method changing
  }

  document.getElementById('loginBtn').addEventListener('click', login);

  const welcome = /*[[${param.welcome}]]*/ '';
  if(welcome){
    alert(welcome);
  }
</script>
</body>
</html>