<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/sideMenu.css">
    <title>Title</title>
</head>
<body>
<div>

    <div>
        <div id="logo_box">b
            <div id="logo">박스</div><div id="logo_right">측면</div>
        </div>
    </div>
    <div id="side_box">
        <ul>
            <li class="side_bar"><a class="side_a" href="#">index</a></li>
            <li class="side_bar"><a class="side_a" href="#">AdoptBoard</a></li>
            <li class="side_bar"><a class="side_a" href="#">AnimalBoard</a></li>
            <li class="side_bar"><a class="side_a" href="#">Market</a></li>
            <li class="side_bar"><a class="side_a" href="#">etc</a></li>
        </ul>
    </div>
</div>
</body>
</html>