*{padding: 0; margin:0; box-sizing: border-box;}

div{
    /*outline: 1px solid black;*/
}

.top_margin{
    display: flex;
    height: 50px;
}
.detail_container{
    display:grid;
    grid-template-areas: ". left right .";
    grid-template-columns:1fr 650px 500px 1fr;
    height: 1000px;
    width: 100%;
}
.left{
    grid-area: left;
}
.right{
    grid-area: right;
}

.main_imgs_wrap{
    display:flex;
    flex-direction: row;
    width:100%;
}
.thumb_img_wrap{
    display: flex;
    flex-direction:column;
    /*justify-items: center;*/
    /*justify-content: center;*/
    width: 15%;
}
.thumb_img_wrap img{
    width: 90%;
    border-radius: 10px;
}
.thumb_img{
    display:flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 17px;
}
.bic_img_wrap{
    width:85%;
    padding-left: 20px;
}
.bic_img_wrap img{
    width: 90%;
    border-radius:13px;
}
.right{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-left: 72px;
}
.right_div{
    padding-left: 20px;
}
.title_wrap{
    display:flex;
    /*justify-content: center;*/
    align-items: center;
    height: 100px;
    font-size: 27px;
    font-weight: bold;
}
.price_wrap{
    height: 41px;
    font-size: 27px;
    font-weight: bold;
}
.del_price_wrap{
    height: 36px;
}
.option_wrap{
    height: 51px;
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.t_price_wrap{
    height: 105px;
}
.button_wrap{
    display:flex;
    height: 58px;
    padding-left:20px;
    flex-direction: row;
}
.del_price_wrap{
    display:flex;
    flex-direction: row;
    width: 100%;
}
.r_head{
    width: 30%;
    display:flex;
    align-items: center;
}
.r_con{
    width: 70%;
    align-items: center;
}
#buy_btn{
    width: 268px;
    height: 57px;
    background-color: black;
    color: #d2e7fa;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}
#cart_btn{
    margin-left: 10px;
    width: 57px;
    background-color: white;
    border-radius: 10px;
}
.cart_img{
    width: 20px;
    height: auto;
}
button{
    border-width: thin;
}
#like_btn{
    margin-left: 10px;
    width: 57px;
    background-color: white;
    border-radius: 10px;
}
.like_img{
    width: 20px;
    height: auto;
}
#op_select{
    width: 76%;
    height: 32px;
    background-color: #fafafa;
    font-size:15px;
    border: none;
}
.quantity_input{
    width: 46px;
    height: 24px;
    font-size: 15px;
    margin-left: 5px;
    text-align: center;
}
