@charset "UTF-8";

*{ margin: 0 auto; padding: 0; box-sizing: border-box;
}
body{
    height: 100vh;
}
a{
    text-decoration: none; /*밑줄*/
}
li{
    list-style: none;
    display: inline;
    margin-left: 15px;
}
#menu_ul{
    text-align: center;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /*수직한줄배치*/
}
#banner_box{
    height: 5px;
    /*background-color: yellow;*/
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
#menu_box{
    height: 30px;
    margin-right: 80px;
}
#menu_ul{
    text-align: right;
}
span{

}
.parent{
    /*height: 100%;*/
    display:grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    grid-template-rows: repeat(auto-fill, minmax(25%, auto)); /* 수직 */
    grid-auto-flow: row;
    /*gap: 15px;*/
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background-color: yellow;*/
    flex-direction: column;
    width: 90%;
    margin-top: 20px;
    height: 430px;
    /*border: 1px solid green;*/
    overflow: hidden;
}
.thumb_img{
    height: 70%;
}
.prod_info{
    height: 30%;
    display: flex;
    flex-direction: column;
}
.title_wrap{
    width: 100%;
    text-align: center;
    height: 55px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 23px;
}
.content_wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}
.add_btn_wrap{
    position: fixed;
    bottom: 39px;
    right: 37px;
}
#add_btn{
    width: 78px;
    cursor: pointer;
}
.thumb_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
#reg_date, #end_date, #sale_cnt{
    font-size: 20px;
}