@charset "UTF-8";

*{ margin: 0 auto; padding: 0; box-sizing: border-box;
}
a{
    text-decoration: none;
    list-style: none;
}
.subNav{
    height: 60px;
    color: #444;
    margin-left: 600px;
}
.subNav li{
    margin-top: 30px;
}
.cate_Icon{
    width: 1000px;
    height: 173px;
    margin-left: 200px;
}
.sortCate{
    display: inline;
    padding-top: 5px;
    margin-left: 700px;
}
.cateList{
    height: 173px;
}
.fundList{
    width: 1019px;
}
.group_fundList{
    width:1019px;
    overflow: hidden;
}
.listCard{
    width: 236px;
    height: 271px;
    list-style: none;
    float: left;
    background-color: gray;
    margin-top: 40px;
    margin-left: 18px;
}
.thumb_box{
    width: 236px;
    height: 134px;
    float: left;
    display: block;
}
.box_together{
    width: 236px;
    height: 139px;
    float: left;
    overflow: hidden;
}
strong{
    display: block;
}
