@charset "UTF-8";

*{ margin: 0 auto; padding: 0; box-sizing: border-box;
}
body{
    height: 100vh;
}
a{
    text-decoration: none; /*밑줄*/
}
li{
    list-style: none;
    display: inline;
    margin-left: 15px;
}
#menu_ul{
    text-align: center;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /*수직한줄배치*/
}
#banner_box{
    height: 150px;
    background-color: yellow;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
#menu_box{
    height: 30px;
    margin-right: 80px;
}
#menu_ul{
    text-align: right;
}
span{

}
.parent{
    /*height: 100%;*/
    display:grid;
    grid-template-columns: repeat(3, minmax(25%, auto));
    grid-template-rows: repeat(auto-fill, minmax(25%, auto)); /* 수직 */
    grid-auto-flow: row;
    gap: 30px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: yellow;
    flex-direction: column;
    width: 90%;
    height: 250px;
    border: 1px solid green;
    overflow: hidden;
}
.matter_img{
    height: 60%;
}
.matter_content{
    height: 40%;
    display: flex;
    flex-direction: column;
}
.title_wrap{
    width: 100%;
    text-align: center;
    height: 30px;
}
.matter_info{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.add_btn_wrap{
    position: fixed;
    bottom: 39px;
    right: 37px;
}
#add_btn{
    width: 78px;
    cursor: pointer;
}

