*{
    margin: 0; padding: 0; box-sizing: border-box;
}
.container{
    width:1200px;
    height: 800px;
    display:flex;
    position: relative;
    flex-direction: row;

}
.left{
    margin-left: 100px;
    width: 80%;
    height: 100%;
    display:flex;
    flex-direction: column;
}
.top{
    width: 100%;
    height: 20%;
    overflow: hidden;
}
.mid{
    width: 100%;
    height: 60%;
    overflow: auto;
}
.bottom{
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.right{
    width: 20%;
}
#img_td img{
    width: 67px;
}
#product_table {
    border-collapse: collapse;
}
#product_table td{
    border: 1px solid black;
}

#product_table td{
    width: 80px;
}
.hiding{
    display: none;
}