<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
\      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
    <link rel="stylesheet" href="/css/adminBoard/detail.css">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<div class="container">
    <div class="title">상품상세</div>
    <form enctype="multipart/form-data" id="form">
    </form>
    <div class="reg_container">
        <div class="left">
            <div class="left_wrap">
                <div class="img_box">
                    <th:block th:if="${not #lists.isEmpty(product.files)}">
                        <img id="rep_img" th:src="|/adoptBoard/images/${product.files[0].getStore_file_name()}|">
<!--                    <img src="/img/icon/img_upload_icon.png" id="upload_icon">-->
<!--                    <input disabled type="file" id="upload_file" multiple="multiple" style="display: none;">-->
                    </th:block>
                </div>
            </div>
            <div class="left_wrap">
                <div class="img_views">
                    <th:block th:if="${not #lists.isEmpty(product.files)}" th:each="file : ${product.files}">
                        <div class="thumb_wrap">
                            <img th:src="|/adoptBoard/images/${file.getStore_file_name()}|" class="thumb_img">
                        </div>
                    </th:block>
                </div>
            </div>
            <div class="left_wrap">
                <div class="t_con_box"> <!-- 썸넬 이미지는 첫번째 이미지로등록, 판매등록시 썸넬이미지 변경가능-->
                    <div class="t_con_title">썸네일 내용</div>
                    <div class="t_text_area">
                        <textarea disabled id="thumbnail_content" th:text="${product.thumbnail_content}" placeholder="판매 썸네일 기본 설명 문구로 사용됩니다."></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right_wrap">
                <div class="sub_title">대분류</div> <!-- 카테고리 검색을 통해 선택하도록 함-->
                <div class="value_box">
                    <select id="major_cate" class="select" disabled>
                    </select>
                </div>
            </div>
            <div class="right_wrap">
                <div class="sub_title">소분류</div>
                <div class="value_box">
                    <select id="sub_cate" class="select" disabled>
                    </select>
                    </div>
                </div>
            <div class="right_wrap">
                <div class="sub_title">상품명</div>
                <div class="value_box"> <input disabled type="text" id="title" th:value="${product.title}"></div>
            </div>
            <div class="right_wrap textarea">
                <div class="sub_title sub_title_column">내용</div>
                <div class="value_box value_box_column"> <textarea disabled wrap="hard" placeholder="상품 기본설명입력" id="content" th:text="${product.content}"></textarea></div>
            </div>
            <div class="right_wrap textarea memo">
                <div class="sub_title sub_title_column memo_title">메모</div>
                <div class="value_box value_box_column"> <textarea disabled wrap="hard" placeholder="상품 기본설명입력" id="memo" th:text="${product.etc}"></textarea></div>
            </div>
            <div class="right_wrap">
                <div class="sub_title">가격</div>
                <div class="value_box"> <input disabled type="number" id="price" th:value="${product.price}" title="숫자만 입력하세요"></div>
            </div>
            <div class="right_wrap" id="stock_wrap">
                <div class="sub_title" id="stock_subtitle">재고</div>
                <div class="value_box" id="stock_stat_wrap">
                    <div class="stat_box">
                        <ol class="ol" id="ol">
                            <li>
                                <input disabled type="text" class="size_name" placeholder="사이즈" th:value="${product.stockArr[0].size}"><input disabled type="number" class="size_qty" placeholder="수량" th:value="${product.stockArr[0].qty}">
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="stock_btn_bar">
<!--                    <button class="qty_add">사이즈 추가</button>-->
                </div>
            </div>
            <div class="right_wrap">
                <div class="sub_title">상태</div>
                <div class="value_box">
                    <select id="status">
                        <option th:value="${product.status}" th:if="${product.status}==1">판매중</option>
                        <option th:value="${product.status}" th:if="${product.status}==0">판매중지</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <button id="modify_btn" th:data-product_id="${product_id}" th:data-size="${product.stockArr[0].size}">수정</button>
</div>
<script th:inline="javascript">
    const upload_file = document.getElementById('upload_file');
    const view_files = [];
    const img_views_div = document.querySelector('.img_views');
    let cate = null;
    const major_cate = document.getElementById('major_cate');
    const sub_cate = document.getElementById('sub_cate');
    const qty_add = document.querySelector('.qty_add');
    const rep_img = document.getElementById('rep_img');
    const thumb_img = document.querySelectorAll('.thumb_img');
    const prod_up_code = [[${product.up_code}]];
    let category_id = [[${product.category_id}]];
    let prod_cate_code = [[${product.code}]];
    let prod_c_name = [[${product.code_name}]];
    const product_id = [[${product.product_id}]];
    const stock_id = [[${product.stockArr[0].stock_id}]];
    const cate_map = new Map();

    thumb_img.forEach((m) => {
        m.addEventListener('mouseover', ()=>{
            rep_img.src = m.src;
        })
    })
    window.addEventListener('DOMContentLoaded', () => {
        get_category();
    })

    async function getDetail(){
        await fetch(`adminBoard/`)
    }


    async function update_prod(){
        //category_id 값을 가져옴. 하위값이 있다면 하위값 id를 가져오고, 하위값이 없다면 상위값 id를 가져옴
        if(sub_cate.value==='x'){
            category_id = major_cate.selectedOptions[0].dataset.id;
        }else{
            category_id = sub_cate.selectedOptions[0].dataset.id;
        }

        const title = document.getElementById('title').value;
        const content = document.getElementById('content').value;
        const price = document.getElementById('price').value;
        const status = document.getElementById('status').value;
        const thumbnail_content = document.getElementById('thumbnail_content').value;
        //재고
        let name = document.querySelectorAll('.size_name');
        let qty = document.querySelectorAll('.size_qty');
        let stockArr = [];

        if(title.length===0){
            alert('제목을 입력하세요');
            return;
        }else if(content.length===0){
            alert('내용을 입력하세요');
            return;
        }

        name.forEach((s, idx)=>{
            let stock = {
                size : s.value,
                qty : qty[idx].value
            }
            stockArr.push(stock);
        });


        try{
            const product = {
                title : title,
                content : content,
                price : price,
                stockArr : stockArr, //빈 등록해야함
                status : status,
                thumbnail_content : thumbnail_content,
                category_id : category_id,

            }
            const file = upload_file.files;
            const formData = new FormData(document.getElementById('form'));
            formData.append('productVO', new Blob([JSON.stringify(product)], {type: "application/json"}));

            if(file.length>0) {
                for(const f of file){
                    formData.append('file', f);
                }
            }

            const resp = await fetch('/adminBoard/updateProduct', {
                method : 'POST',
                body : formData,
            })
            if(resp.ok){
                const result = await resp.json();
                console.log(result);
                if(result===1){
                    alert('상품이 등록완료 되었습니다.');
                    window.close();
                }
            }

        }catch(e){
            console.error(e);
        }

    }


    const modify_btn = document.getElementById('modify_btn');
    modify_btn.addEventListener('click', ()=>{
        const product_id = modify_btn.dataset.product_id;
        const size = modify_btn.dataset.size;
        if(confirm('수정하시겠습니까')){
            window.location.href=`/adminBoard/updateForm/${product_id}/${size}`;
        }
    })

    async function get_category(){
        //카테고리 데이터를 가져옴.
        //최초 값 가져올 때 하위 카테고리 값도 같이 가져옴
        const resp = await fetch('/market/getCateList',{
            headers: {
                'Content-Type' : 'application/json'
            },
        });
        if(resp.ok){
            const cate = await resp.json();
            for(let i=0; i<cate.length;i++){
                cate_map.set(cate[i].code, cate[i].code_name);
            }
            mine_cate();
        }
    }
    function mine_cate(){
        if(category_id<5){
            const up_cate = document.createElement('option');
            const none = document.createElement('option');
            up_cate.text=prod_c_name;
            none.text='하위카테고리없음';
            major_cate.appendChild(up_cate);
            sub_cate.appendChild(none);
        }else{
            const upper_cate = document.createElement('option');
            const cate = document.createElement('option');
            const cate_up= cate_map.get(prod_up_code);
            upper_cate.text=cate_up;
            cate.text=prod_c_name;
            major_cate.appendChild(upper_cate);
            sub_cate.appendChild(cate);
        }
    }

    function createViews(e, file){
        const div = document.createElement('div');
        const img = document.createElement('img');
        img.setAttribute('src', e.target.result);
        img.setAttribute('data-file', file.name);
        div.appendChild(img);
        return div;
    }
    function get_img_files(e){
        const files = e.currentTarget.files;
        // console.log(typeof files, files);
        if(files.length > 5){
            alert('이미지는 최대 5개까지 등록 가능합니다.');
            return;
        }

        // 파일 타입 검사
        [...files].forEach(f => {
            if(!f.type.match('image/.*')){
                alert('이미지 파일만 업로드 가능합니다');
                return;
            }
            if([...files].length < 6){
                view_files.push(f);
                const reader = new FileReader();
                reader.onload = (e) => {
                    const preview = createViews(e, f);
                    img_views_div.appendChild(preview);
                };
                reader.readAsDataURL(f);
            }
        })
    }

    // document.getElementById('upload_icon').addEventListener('click',()=> upload_file.click());
    // upload_file.addEventListener('change', get_img_files);
</script>
</body>
</html>