<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/template/common/layout/admin/defaultLayout.html}"
      layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/adminBoard/index.css">
</head>
<body>
<div class="container">
    <div class="top_container">
        <div class="graph_box">
            <button id="cate_btn">카테고리테스트</button>
        </div>
    </div>
    <div class="bottom_container">
        <div class="left">
            <div class="sale_box">

            </div>
        </div>
        <div class="right">
            매출
        </div>
    </div>
</div>
<script th:inline="javascript">
document.querySelector('#cate_btn').addEventListener('click', async () => {

    const resp = await fetch('/market/getCateList', {
        headers:{
            'Content-Type' : 'application/json'
        }
    });
        data = await resp.json();
        if(resp.ok){
            console.log(data);
        }


});
</script>
</body>
</html>